# :Shark Attack!!!

http://www.sharkattackfile.net/incidentlog.htm
https://github.com/awesomedata/awesome-public-datasets
https://www.kaggle.com/teajay/global-shark-attacks/version/1#GSAF5.csv
https://pandas.pydata.org/pandas-docs/stable/

Ideas de hipótesis:
evolución de ataques por tipo de incidentes, por zona y especies de tiburones
evolución de incidencia
https://www.tiburonpedia.com/

In [1]:
#Importing Pandas
import pandas as pd
import numpy as np

In [2]:
#Importing data using Pandas
df = pd.read_csv('../GSAF5.csv',encoding = 'ISO-8859-1')

In [3]:
# rows in dataFrame
len(df)

5992

In [4]:
# dataFrame shape: rows and columns
display(df.shape)

(5992, 24)

In [5]:
# checking which variables are in the dataset
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
# checking data quantity in these variables
info = df.info()
# we can see that we have few data for time, age and species
# the 2 last columns are empty (unamed: 22 and unamed: 23) --> next step: drop them

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
Case Number               5992 non-null object
Date                      5992 non-null object
Year                      5992 non-null int64
Type                      5992 non-null object
Country                   5949 non-null object
Area                      5590 non-null object
Location                  5496 non-null object
Activity                  5465 non-null object
Name                      5792 non-null object
Sex                       5425 non-null object
Age                       3311 non-null object
Injury                    5965 non-null object
Fatal (Y/N)               5973 non-null object
Time                      2779 non-null object
Species                   3058 non-null object
Investigator or Source    5977 non-null object
pdf                       5992 non-null object
href formula              5991 non-null object
href                      5989 non-null object
Case Number.1             5992 non-null object
Case Number.2             5992 non-null object
original order            5992 non-null int64
Unnamed: 22               1 non-null object
Unnamed: 23               2 non-null object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [7]:
# drop empty columns:
df = df.drop(columns=['Unnamed: 22','Unnamed: 23'])
info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 22 columns):
Case Number               5992 non-null object
Date                      5992 non-null object
Year                      5992 non-null int64
Type                      5992 non-null object
Country                   5949 non-null object
Area                      5590 non-null object
Location                  5496 non-null object
Activity                  5465 non-null object
Name                      5792 non-null object
Sex                       5425 non-null object
Age                       3311 non-null object
Injury                    5965 non-null object
Fatal (Y/N)               5973 non-null object
Time                      2779 non-null object
Species                   3058 non-null object
Investigator or Source    5977 non-null object
pdf                       5992 non-null object
href formula              5991 non-null object
href                      5989 non-null object
Case Number.1             5992 non-null object
Case Number.2             5992 non-null object
original order            5992 non-null int64
dtypes: int64(2), object(20)
memory usage: 1.0+ MB

In [8]:
# checking data quality: how normalized and structured are data in these variables
# distinct values for each variable
# the most structured data are in the following variables in this order: Type, Sex, Year, Fatal (Y/N), Age, Country, Time, Area, Activity and Species 
df.nunique()

Case Number               5976
Date                      5128
Year                       232
Type                         6
Country                    203
Area                       785
Location                  3929
Activity                  1492
Name                      5009
Sex                          6
Age                        151
Injury                    3595
Fatal (Y/N)                  8
Time                       357
Species                   1538
Investigator or Source    4752
pdf                       5981
href formula              5980
href                      5972
Case Number.1             5975
Case Number.2             5976
original order            5988
dtype: int64

In [24]:
# removing white spaces in columns name:
df = df.rename(columns=lambda x: x.strip())

In [25]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [26]:
# select columns with variables containing strings:
df_obj = df.select_dtypes(['object'])

In [27]:
# strip leading and trailing space: removing spaces from both left and right side of the strings
df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())
df.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,N,NaN,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,...,Y,15h40,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.06,2016.09.06,5985
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,...,N,Late afternoon,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.b,2016.09.05.b,5984

In [28]:
df.nunique()

Case Number               5976
Date                      5128
Year                       232
Type                         6
Country                    195
Area                       763
Location                  3888
Activity                  1464
Name                      5003
Sex                          5
Age                        149
Injury                    3529
Fatal (Y/N)                  6
Time                       350
Species                   1458
Investigator or Source    4712
pdf                       5981
href formula              5980
href                      5972
Case Number.1             5975
Case Number.2             5976
original order            5988
dtype: int64

# Analizing variables:
- column 0: raw number --> not relevant
- Case Number --> not relevant
- Date: Date of Incident
- Year: Year of Incident
- Type: 
- Country
- Area
- Location
- Activity: Activity at time of incident
- Name
- Sex
- Age
- Injury
- Fatal (Y/N)
- Time
- Species
- Investigator or Source
- pdf
- href formula
- href
- Case Number.1
- Case Number.2
- original order
- Unnamed: 22 --> dropped
- Unnamed: 23 --> dropped

In [29]:
# we will create a norm_data only with columns with normalized data:
norm_data = df[['Type', 'Sex', 'Year', 'Fatal (Y/N)', 'Age', 'Country', 'Time', 'Area', 'Activity','Species']]

In [31]:
norm_data.head(10)

,Type,Sex,Year,Fatal (Y/N),Age,Country,Time,Area,Activity,Species
0,Unprovoked,M,2016,N,16,USA,13h00,Florida,Surfing,NaN
1,Unprovoked,M,2016,N,36,USA,11h00,Florida,Surfing,NaN
2,Unprovoked,M,2016,N,43,USA,10h43,Florida,Surfing,NaN
3,Unprovoked,M,2016,N,NaN,AUSTRALIA,NaN,Victoria,Surfing,NaN
4,Unprovoked,M,2016,N,NaN,AUSTRALIA,NaN,Victoria,Surfing,2 m shark
5,Boat,NaN,2016,N,NaN,AUSTRALIA,NaN,Western Australia,Fishing,NaN
6,Unprovoked,M,2016,N,60s,USA,15h15,Florida,Wading,3' to 4' shark
7,Unprovoked,F,2016,N,51,USA,14h30,Hawaii,Swimming,"Tiger shark, 10?"
8,Unprovoked,M,2016,Y,50,NEW CALEDONIA,15h40,North Province,Kite surfing,NaN
9,Unprovoked,F,2016,N,12,USA,Late afternoon,South Carolina,Boogie boarding,NaN

In [32]:
# TYPE OF INCIDENT - exploratory analysis
df['Type'].value_counts()

Unprovoked      4386
Provoked         557
Invalid          519
Sea Disaster     220
Boat             200
Boating          110
Name: Type, dtype: int64

In [34]:
# SEX - exploratory analysis
df['Sex'].value_counts()

M      4837
F       585
lli       1
.         1
N         1
Name: Sex, dtype: int64

In [35]:
# YEAR - exploratory analysis
df['Year'].value_counts()

2015    139
2011    128
2014    125
0       124
2013    122
2008    121
2009    120
2012    117
2007    112
2006    103
2016    103
2005    103
2010    101
2000     97
1959     93
1960     93
2001     92
2004     92
2003     92
2002     88
1962     86
1961     78
1995     76
1964     66
1998     65
1999     65
1996     61
1963     61
1966     58
1997     57
       ...
1785      1
1834      1
1791      1
1733      1
1721      1
1637      1
1617      1
77        1
5         1
1703      1
1755      1
1767      1
1771      1
1779      1
1787      1
1803      1
1749      1
1807      1
1811      1
1819      1
1805      1
1831      1
1555      1
1738      1
1859      1
1742      1
1758      1
1818      1
1822      1
1595      1
Name: Year, Length: 232, dtype: int64

In [36]:
# Fatal (Y/N) - exploratory analysis
df['Fatal (Y/N)'].value_counts()

N          4324
Y          1552
UNKNOWN      94
n             1
F             1
#VALUE!       1
Name: Fatal (Y/N), dtype: int64

In [37]:
# AGE - exploratory analysis
df['Age'].value_counts()

17                         148
18                         145
19                         138
20                         136
15                         135
16                         134
21                         115
22                         113
24                         103
25                         101
14                          97
13                          91
23                          80
26                          80
27                          78
28                          77
29                          75
30                          74
12                          70
32                          64
35                          64
10                          51
31                          50
40                          50
38                          47
34                          45
43                          43
36                          41
33                          40
37                          37
                          ...
30 & 32                      1
34 & 19                      1
37, 67, 35, 27,  ? & 27      1
(adult)                      1
36 & 23                      1
13 or 14                     1
67                           1
12 or 13                     1
A.M.                         1
21, 34,24 & 35               1
33 & 26                      1
7      &    31               1
18 months                    1
MAKE LINE GREEN              1
9 months                     1
?    &   14                  1
9 or 10                      1
60s                          1
mid-30s                      1
? & 19                       1
"middle-age"                 1
17 & 16                      1
20?                          1
Elderly                      1
31 or 33                     1
25 or 28                     1
23 & 20                      1
28 & 26                      1
16 to 18                     1
72                           1
Name: Age, Length: 149, dtype: int64

In [38]:
# COUNTRY - exploratory analysis
df['Country'].value_counts()

USA                               2116
AUSTRALIA                         1279
SOUTH AFRICA                       565
PAPUA NEW GUINEA                   133
NEW ZEALAND                        125
BRAZIL                             102
BAHAMAS                             98
MEXICO                              82
ITALY                               71
FIJI                                62
PHILIPPINES                         60
REUNION                             57
NEW CALEDONIA                       51
MOZAMBIQUE                          44
CUBA                                42
SPAIN                               40
EGYPT                               38
INDIA                               37
CROATIA                             34
PANAMA                              32
JAPAN                               32
IRAN                                29
SOLOMON ISLANDS                     29
GREECE                              25
HONG KONG                           24
JAMAICA                             23
FRENCH POLYNESIA                    22
INDONESIA                           20
ENGLAND                             19
PACIFIC OCEAN                       19
                                  ...
GABON                                1
MEDITERRANEAN SEA?                   1
RED SEA                              1
ITALY / CROATIA                      1
GUYANA                               1
NORTHERN ARABIAN SEA                 1
UNITED ARAB EMIRATES                 1
Seychelles                           1
ARGENTINA                            1
GEORGIA                              1
ICELAND                              1
SYRIA                                1
NORTHERN MARIANA ISLANDS             1
PARAGUAY                             1
NORTH SEA                            1
IRAN / IRAQ                          1
GUATEMALA                            1
DIEGO GARCIA                         1
GHANA                                1
OCEAN                                1
TUVALU                               1
FEDERATED STATES OF MICRONESIA       1
SOUTH CHINA SEA                      1
TASMAN SEA                           1
ANDAMAN / NICOBAR ISLANDAS           1
WESTERN SAMOA                        1
NEVIS                                1
St Helena                            1
SOLOMON ISLANDS / VANUATU            1
ANGOLA                               1
Name: Country, Length: 195, dtype: int64

In [39]:
# TIME - exploratory analysis
df['Time'].value_counts()

Afternoon                               174
11h00                                   123
Morning                                 108
12h00                                   107
15h00                                   100
14h00                                    94
16h00                                    94
16h30                                    72
13h00                                    71
14h30                                    70
17h30                                    69
17h00                                    64
15h30                                    62
18h00                                    62
11h30                                    61
Night                                    58
13h30                                    56
10h00                                    53
09h00                                    46
10h30                                    45
12h30                                    33
Evening                                  33
Late afternoon                           32
09h30                                    31
07h30                                    30
08h00                                    28
18h30                                    27
08h30                                    25
19h00                                    23
07h00                                    20
                                       ...
21h30                                     1
15j45                                     1
10h16                                     1
22h30                                     1
19h55                                     1
14h30 / 15h30                             1
15h25                                     1
8:04 PM                                   1
Shortly after midnight                    1
09h20                                     1
18h25                                     1
>06h45                                    1
12h45 / 13h45                             1
Possibly same incident as 2000.08.21      1
05h40                                     1
01h32                                     1
13h14                                     1
14h34                                     1
"After dark"                              1
01h30                                     1
08h35                                     1
07h00 - 08h00                             1
10h30 or 13h30                            1
06h47                                     1
18h30?                                    1
11h41                                     1
06h10                                     1
12h35                                     1
10h43                                     1
16h12                                     1
Name: Time, Length: 350, dtype: int64

In [40]:
# AREA - exploratory analysis
df['Area'].value_counts()

Florida                                       991
New South Wales                               468
Queensland                                    301
Hawaii                                        282
California                                    276
KwaZulu-Natal                                 210
Western Cape Province                         188
Western Australia                             172
Eastern Cape Province                         156
South Carolina                                146
South Australia                               103
North Carolina                                103
Victoria                                       83
Torres Strait                                  72
Texas                                          71
Pernambuco                                     70
North Island                                   65
New Jersey                                     50
Tasmania                                       41
South Island                                   39
New York                                       30
Oregon                                         28
Northern Territory                             23
Central Province                               22
Abaco Islands                                  22
Virginia                                       19
Havana Province                                18
South Province                                 17
Puerto Rico                                    16
Veracruz                                       16
                                             ...
Barlavento Islands                              1
Alicante Province                               1
Antofagasta Province                            1
Bocas del Toro Province                         1
La Saline-les-Bains                             1
Bikini Atoll                                    1
St. Mary's Parish                               1
Genoa  Province                                 1
East of the Gulf of Aqaba                       1
Off the Coromandel Peninsula, North Island      1
Boa Vista Island                                1
Maine                                           1
Delagoa Bay                                     1
Minerva Reef                                    1
Kerala                                          1
Las Perlas archipelago                          1
Bay of Monaco                                   1
Easter Ross                                     1
Between Hastings & Fairlight, Sussex            1
Abau Subdistrict,Central Province               1
200 nm southeast of Manila                      1
Mercury Islands                                 1
Off Ireland                                     1
Simpson Bay                                     1
Brittany                                        1
Piraeus                                         1
12 miles off the north coast                    1
Panama City                                     1
Western Luzon Island                            1
Isla Provedencia                                1
Name: Area, Length: 763, dtype: int64

In [47]:
# ACTIVITY - exploratory analysis
df['Activity'].value_counts()

Surfing                                                                                                                                   907
Swimming                                                                                                                                  866
Fishing                                                                                                                                   426
Spearfishing                                                                                                                              328
Bathing                                                                                                                                   155
Wading                                                                                                                                    144
Diving                                                                                                                                    126
Standing                                                                                                                                   99
Snorkeling                                                                                                                                 77
Scuba diving                                                                                                                               75
Body boarding                                                                                                                              55
Body surfing                                                                                                                               49
Treading water                                                                                                                             32
Pearl diving                                                                                                                               32
Kayaking                                                                                                                                   30
Boogie boarding                                                                                                                            28
Free diving                                                                                                                                27
Fell overboard                                                                                                                             22
Windsurfing                                                                                                                                18
Surf skiing                                                                                                                                18
Boogie Boarding                                                                                                                            16
Walking                                                                                                                                    15
Shark fishing                                                                                                                              15
Rowing                                                                                                                                     14
Floating                                                                                                                                   13
Canoeing                                                                                                                                   12
Surf-skiing                                                                                                                                12
Fishing for sharks                                                                                                                         11
Surf fishing                                                                                                                               11
Sponge diving                                                                                                                              10
                                                                                                                                         ...
Dog paddling or standing                                                                                                                    1
Fishing  (trawling)                                                                                                                         1
Dragging stranded shark into deeper water                                                                                                   1
Underwater photography                                                                                                                      1
Collecting dynamited fish                                                                                                                   1
His balloon crashed in the harbor                                                                                                           1
Fell off surfboard 20' from shore                                                                                                           1
Towing her sister on plastic ski board                                                                                                      1
The 6711-ton American freighter & troop transport Cape San Juan was torpedoed by the Japanese submarine I-21                                1
17 Maldivians adrift in open boat for 31 days                                                                                               1
Touching the mouth of a supposedly dead shark                                                                                               1
Wreck of the 1308-ton Norwegian ship Auckland                                                                                               1
Paddle Skiing                                                                                                                               1
Wakeboarding                                                                                                                                1
Fishing for bottom fish                                                                                                                     1
Swimming near anchored ship                                                                                                                 1
Fishing, probably with a net                                                                                                                1
Free diving / photography, kneeling on sand                                                                                                 1
Surfing (or body boarding)                                                                                                                  1
25-foot cabin cruiser Happy Jack sank in heavy seas                                                                                         1
Hand lining for shad                                                                                                                        1
Sinking of the dredge World Atlas                                                                                                           1
Swimming after harpooned whale capsized boat                                                                                                1
90 European civilians, many women & children, were placed on the deck of a Japanese submarine that submerged when it was well offshore      1
Swimming on surface                                                                                                                         1
Fell off aircraft carrier                                                                                                                   1
Attempting to drag hooked shark ashore by its tail                                                                                          1
Fell overboard from P&O steamship Arabia                                                                                                    1
Bathing near whaling ship (bark A. R. Tucker of New Bedford, Massachusetts)                                                                 1
Swimming to mail boat                                                                                                                       1
Name: Activity, Length: 1464, dtype: int64

In [48]:
# SPECIES - exploratory analysis
df['Species'].value_counts()

White shark                                                                         162
Shark involvement not confirmed                                                      80
Tiger shark                                                                          69
Bull shark                                                                           52
6' shark                                                                             40
4' shark                                                                             39
1.8 m [6'] shark                                                                     37
1.5 m [5'] shark                                                                     32
1.2 m [4'] shark                                                                     27
3' shark                                                                             25
5' shark                                                                             25
4' to 5' shark                                                                       23
3 m [10'] shark                                                                      22
2 m shark                                                                            22
No shark involvement                                                                 21
Wobbegong shark                                                                      21
3' to 4' shark                                                                       18
2.4 m [8'] shark                                                                     16
3 m shark                                                                            16
3.7 m [12'] shark                                                                    16
Blacktip shark                                                                       15
Mako shark                                                                           15
Raggedtooth shark                                                                    14
Blue shark                                                                           14
12' shark                                                                            14
1.2 m to 1.5 m [4' to 5'] shark                                                      14
7' shark                                                                             14
"a small shark"                                                                      13
5 m [16.5'] white shark                                                              13
1.5 m shark                                                                          13
                                                                                   ...
Blue shark, 1.8 m [6']                                                                1
Cookie cutter shark                                                                   1
White shark, 2.3 m [7.5'], tooth fragment recovered                                   1
Thought to involve a blacktip shark                                                   1
Tiger shark, 10?                                                                      1
1.5 to 2 m [5' to 6.75'] shark                                                        1
Possibly  a blacktip or spinner shark                                                 1
Lemon shark, 2.7 m [9']                                                               1
Tiger shark, 5.2 m [17']                                                              1
2.27 m shark                                                                          1
2.13 m shark                                                                          1
106 cm [3.5']  shark                                                                  1
8' bull shark or Caribbean reef shark                                                 1
White shark, 6m                                                                       1
Lemon shark, 2.5m to 3m                                                               1
White shark, 3.5 m [11.5'], identified by W. I.  Follett on tooth fragments           1
possibly a bull shark                                                                 1
Possibly a lemon shark                                                                1
Nurse shark, 2.1 m [7']  identified by Dr. E. Clark on color & tooth impressions      1
Believed to involve a 2.8 m [9'3"] white shark                                        1
Spinner shark, 1.2 m to 1.5 m [4' to 5']                                              1
A 6.5' "blue-nosed shark"                                                             1
3 m hammerhead shark                                                                  1
2.1 m [7'] shark, a shark's serrated tooth recovered from toe                         1
Five 1.8 m [6']  sharks                                                               1
2 to 3 m shark                                                                        1
sandtiger shark                                                                       1
Grey nurse shark, 2.7 m [9']                                                          1
A bull shark, according to some of the divers on the boat                             1
2'  shark                                                                             1
Name: Species, Length: 1458, dtype: int64

In [ ]:
# Data cleaning & manipulation: (1/8 methods)

In [ ]:
# Data cleaning & manipulation: (2/8 methods)

In [ ]:
# Data cleaning & manipulation: (3/8 methods)

In [ ]:
# Data cleaning & manipulation: (4/8 methods)

In [ ]:
# Data cleaning & manipulation: (5/8 methods)

In [ ]:
# Data cleaning & manipulation: (6/8 methods)

In [ ]:
# Data cleaning & manipulation: (7/8 methods)

In [ ]:
# Data cleaning & manipulation: (8/8 methods)

In [ ]:
# Exploratory analysis

In [ ]:
# Exporting clean data in CSV using Pandas

README.md file containing a detailed explanation of the process followed in the importing, cleaning, manipulation, 
and exporting of your data as well as your results, obstacles encountered, and lessons learned