# :Shark Attack!!!

http://www.sharkattackfile.net/incidentlog.htm
https://github.com/awesomedata/awesome-public-datasets
https://www.kaggle.com/teajay/global-shark-attacks/version/1#GSAF5.csv
https://pandas.pydata.org/pandas-docs/stable/

Ideas de hipótesis:
evolución de ataques por tipo de incidentes, por zona y especies de tiburones
evolución de incidencia
https://www.tiburonpedia.com/

!["shark"](https://media.giphy.com/media/cCvWHbfVdn2bm/giphy.gif "shark")

In [1]:
#Importing Pandas
import pandas as pd
import numpy as np
import re

In [2]:
#Importing data using Pandas
df = pd.read_csv('../GSAF5.csv',encoding = 'ISO-8859-1')

In [3]:
# rows in dataFrame
len(df)

5992

In [4]:
# dataFrame shape: rows and columns
display(df.shape)

(5992, 24)

In [5]:
# checking which variables are in the dataset
df.columns
# observation: we can see that there are white spaces in texts --> next step: clean it

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
# checking data quantity in these variables
info = df.info()
# we can see that we have few data for time, age and species
# the 2 last columns are empty (unamed: 22 and unamed: 23) --> next step: drop them
# observation: case number, pdf, href and href formula, case number. 1 and case number 2, 
# original order and Investigator or Source are not relevant data --> next step: drop them

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
Case Number               5992 non-null object
Date                      5992 non-null object
Year                      5992 non-null int64
Type                      5992 non-null object
Country                   5949 non-null object
Area                      5590 non-null object
Location                  5496 non-null object
Activity                  5465 non-null object
Name                      5792 non-null object
Sex                       5425 non-null object
Age                       3311 non-null object
Injury                    5965 non-null object
Fatal (Y/N)               5973 non-null object
Time                      2779 non-null object
Species                   3058 non-null object
Investigator or Source    5977 non-null object
pdf                       5992 non-null object
href formula              5991 non-null object
href                      5989 non-null object
Case Number.1             5992 non-null object
Case Number.2             5992 non-null object
original order            5992 non-null int64
Unnamed: 22               1 non-null object
Unnamed: 23               2 non-null object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [7]:
# removing white spaces in columns name:
df = df.rename(columns=lambda x: x.strip())
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [8]:
# removing white spaces in values:
# select columns with variables containing strings:
df_obj = df.select_dtypes(['object'])
# strip leading and trailing space: removing spaces from both left and right side of the strings
df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip())
df.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988,NaN,NaN
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987,NaN,NaN
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986,NaN,NaN
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,...,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.06,2016.09.06,5985,NaN,NaN
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,...,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.b,2016.09.05.b,5984,NaN,NaN

In [9]:
# drop empty columns + variables not relevant for analysis:
df = df.drop(columns=['Case Number', 'Investigator or Source','pdf','href formula','href','Case Number.1','Case Number.2','original order','Unnamed: 22','Unnamed: 23'])
info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 14 columns):
Date           5992 non-null object
Year           5992 non-null int64
Type           5992 non-null object
Country        5949 non-null object
Area           5590 non-null object
Location       5496 non-null object
Activity       5465 non-null object
Name           5792 non-null object
Sex            5425 non-null object
Age            3311 non-null object
Injury         5965 non-null object
Fatal (Y/N)    5973 non-null object
Time           2779 non-null object
Species        3058 non-null object
dtypes: int64(1), object(13)
memory usage: 655.5+ KB

In [10]:
# checking data quality: how normalized and structured (distinct values) are data in these variables 
# Type, Sex, Year, Fatal (Y/N), Age, Country, Time, Area are the most structured data.
# Then, if we work on clean mentions, maybe we can extract a better quality for Activity and Species 
df.nunique()

Date           5128
Year            232
Type              6
Country         195
Area            763
Location       3888
Activity       1464
Name           5003
Sex               5
Age             149
Injury         3529
Fatal (Y/N)       6
Time            350
Species        1458
dtype: int64

# Summary Data flow per variable:
- column 0: raw number --> drop
- Case Number ---> drop
- Date --> relevant
- Year --> relevant
- Type  --> could be relevant if better defined. Categories are not clear: Boat Vs Boating / Invalid? / and some quite subjective: Provoked VS Unprovoked
- Country  --> relevant
- Area  --> relevant
- Location  --> relevant
- Activity --> relevant
- Name --> not relevant for analysis, but we keep it for the moment to remove duplicated registers in the last step
- Sex --> relevant
- Age --> relevant
- Injury --> relevant
- Fatal (Y/N) --> relevant
- Time --> relevant
- Species --> relevant 
- Investigator or Source --> drop
- pdf --> drop
- href formula --> drop
- href --> drop
- Case Number.1 --> drop
- Case Number.2 --> drop
- original order --> drop
- Unnamed: 22 --> drop
- Unnamed: 23 --> drop

In [11]:
#re-ordering the dataset to make more sense to data overview
df = df[['Year', 'Date','Time', 'Country', 'Area','Location','Fatal (Y/N)','Species','Injury', 'Type','Activity', 'Sex', 'Age','Name']]
df.head(10)

,Year,Date,Time,Country,Area,Location,Fatal (Y/N),Species,Injury,Type,Activity,Sex,Age,Name
0,2016,18-Sep-16,13h00,USA,Florida,"New Smyrna Beach, Volusia County",N,NaN,Minor injury to thigh,Unprovoked,Surfing,M,16,male
1,2016,18-Sep-16,11h00,USA,Florida,"New Smyrna Beach, Volusia County",N,NaN,Lacerations to hands,Unprovoked,Surfing,M,36,Chucky Luciano
2,2016,18-Sep-16,10h43,USA,Florida,"New Smyrna Beach, Volusia County",N,NaN,Lacerations to lower leg,Unprovoked,Surfing,M,43,male
3,2016,17-Sep-16,NaN,AUSTRALIA,Victoria,Thirteenth Beach,N,NaN,Struck by fin on chest & leg,Unprovoked,Surfing,M,NaN,Rory Angiolella
4,2016,16-Sep-16,NaN,AUSTRALIA,Victoria,Bells Beach,N,2 m shark,No injury: Knocked off board by shark,Unprovoked,Surfing,M,NaN,male
5,2016,15-Sep-16,NaN,AUSTRALIA,Western Australia,Bunbury,N,NaN,Shark rammed boat. No injury to occupant,Boat,Fishing,NaN,NaN,Occupant: Ben Stratton
6,2016,11-Sep-16,15h15,USA,Florida,"Ponte Vedra, St. Johns County",N,3' to 4' shark,Minor injury to arm,Unprovoked,Wading,M,60s,male
7,2016,07-Sep-16,14h30,USA,Hawaii,"Makaha, Oahu",N,"Tiger shark, 10?",Severe lacerations to shoulder & forearm,Unprovoked,Swimming,F,51,female
8,2016,06-Sep-16,15h40,NEW CALEDONIA,North Province,Koumac,Y,NaN,FATAL,Unprovoked,Kite surfing,M,50,David Jewell
9,2016,05-Sep-16,Late afternoon,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",N,NaN,Lacerations & punctures to lower right leg,Unprovoked,Boogie boarding,F,12,Rylie Williams

In [12]:
# TYPE OF INCIDENT - exploratory analysis
df['Type'].value_counts()

Unprovoked      4386
Provoked         557
Invalid          519
Sea Disaster     220
Boat             200
Boating          110
Name: Type, dtype: int64

In [13]:
# SEX - exploratory analysis
df['Sex'].value_counts()

M      4837
F       585
.         1
lli       1
N         1
Name: Sex, dtype: int64

In [14]:
# SEX - looking missing data together with other variables to see if we could assign gender --> NOT FEASIBLE
df.loc[(df['Sex'] != 'M') & (df['Sex'] != 'F')]

,Year,Date,Time,Country,Area,Location,Fatal (Y/N),Species,Injury,Type,Activity,Sex,Age,Name
5,2016,15-Sep-16,NaN,AUSTRALIA,Western Australia,Bunbury,N,NaN,Shark rammed boat. No injury to occupant,Boat,Fishing,NaN,NaN,Occupant: Ben Stratton
29,2016,17-Jul-16,NaN,USA,Alabama,8 miles off Mobile,N,"Tiger shark, 10'","No injury, shark bit trolling motor",Boat,Fishing in Alabama Deep Fishing Rodeo,NaN,NaN,Occupant: Ben Raines
81,2016,13-Mar-16,Morning,USA,California,"Bolsa Chica State Park, Orange County",N,Shark involvement not confirmed,Board reportedly bumped by shark. No injury,Invalid,Surfing,NaN,NaN,unknown
109,2015,13-Dec-15,10h30,AUSTRALIA,New South Wales,Lake Macquarie,N,"White shark, 3.5 m","No injury, shark rammed boat & bit motor",Boat,Fishing,NaN,NaN,6 m boat: occupants Stephen & Andrew Crust
225,2015,15-Feb-15,NaN,ATLANTIC OCEAN,NaN,NaN,N,White shark,"No injury, shark bit rudder",Boat,Transatlantic Rowing,NaN,NaN,"Avalon, a carbon kevlar monohull: 8 occupants"
241,2014,29-Dec-14,Morning,AUSTRALIA,New South Wales,Bherwerre Beach,N,2 m shark,Lacerations to both feet,Unprovoked,Surfing,NaN,NaN,Jeff Brown
243,2014,28-Dec-14,NaN,GREECE,NaN,33 nautical miles off Othonoi Island,N,Shark involvement prior to death still to be d...,"Of 9 bodies recovered, one was bitten by a shark",Sea Disaster,NaN,NaN,NaN,Passenger ferry Norman Atlantic
244,2014,28-Dec-14,Morning,SOUTH AFRICA,KwaZulu-Natal,Durban,N,Shark involvement not confirmed & highly unlikely,Minor cuts on feet,Invalid,Swimming,NaN,NaN,"5 people claimed to have been injured by a ""ba..."
254,2014,Reported 17-Nov-2014,NaN,USA,California,"Franklin Point, San Mateo County",N,White shark,"Shark bumped boat, no injury to occupants",Boat,NaN,NaN,NaN,Boat: occupants: Matt Mitchell & 2 other people
285,2014,29-Aug-14,16h18,USA,Florida,"Atlantic Beach, Duval County",N,Shark involvement not confirmed,Shark involvement not confirmed,Invalid,NaN,NaN,NaN,child
291,2014,24-Aug-14,NaN,USA,North Carolina,"Off Masonboro Island, New Hanover County",N,4' shark,Laceration to left foot,Unprovoked,Kite boarding,NaN,NaN,Miller Diggs
307,2014,20-Jul-14,NaN,SPAIN,Canary Islands,"Teresita, Santa Cruz, Tenerife",N,Angel shark,Minor injury,Unprovoked,Wading,NaN,NaN,child
343,2014,Reported 12-Apr-2014,NaN,SOUTH AFRICA,NaN,NaN,N,White shark,"No injury to occupants, shark bit pontoon",Boat,Shark watching,NaN,NaN,Inflatable boat
366,2014,2014,NaN,NEW ZEALAND,NaN,Stewart Island,N,"White shark, 6 m","No injury to occupants, shark nudged and bit boat",Boat,Filming a documentary,NaN,NaN,Dinghy. Occupants: Jeff Kurr and Andy Casagrande
478,2013,21-Feb-13,18h00,USA,Hawaii,"Ka'anapali, Honokowai, Maui",N,reef shark?,Lacerations to right leg,Unprovoked,Surfing,NaN,NaN,NaN
517,2012,09-Sep-12,14h20,USA,Florida,"New Smyrna Beach, Volusia County",N,NaN,Minor injury to elbow,Unprovoked,Surfing,NaN,19,teen
524,2012,02-Sep-12,12h00,USA,Hawaii,"Spreckelsville, Maui",N,"Tiger shark, 10' to 12'",Minor laceration to hand PROVOKED INCIDENT,Provoked,Spearfishing,NaN,NaN,M. Malabon
530,2012,11-Aug-12,12h00,AUSTRALIA,Western Australia,Ocean Reef,N,4.5 m shark,"No injury, shark grabbed outboard motor",Boat,Fishing,NaN,NaN,dinghy
548,2012,Reported 28-Jun-2012,NaN,CROATIA,NaN,Buccari Bay,N,No shark involvement,Leg struck. Initally reported as a shark attac...,Invalid,Swimming,NaN,60,NaN
582,2012,22-Mar-12,05h50,AUSTRALIA,Western Australia,Kalbarri,N,White shark,"No injury to occupants. Shark bit propelle, ro...",Boat,Crayfishing,NaN,NaN,crayfish boat. Occupants: Dave & Mitchell Dupe...
595,2012,20-Feb-12,NaN,SOUTH AFRICA,Western Cape Province,Strandfontein,N,"White shark, 7m","No injury to occupants, boat damaged",Boat,Fishing,NaN,NaN,8m inflatable boat. Occupants: Bhad Battle & K...
598,2012,27-Jan-12,11h05,USA,Hawaii,Lanai,N,6' to 8' shark,"No injury, shark bit swim fin",Unprovoked,Snorkeling,NaN,NaN,J. Graden
616,2011,05-Dec-11,NaN,AUSTRALIA,Queensland,Bushy Ilet,Y,Shark involvement not confirmed,Killed by a shark or crocodile.,Invalid,Spearfishing,NaN,NaN,Dave Fordson
626,2011,29-Oct-2011,NaN,SOUTH AFRICA,KwaZulu-Natal,"uShaka Aquarium, Durban",N,Raggedtooth shark,Arm bitten by captive shark PROVOKED INCIDENT,Provoked,Diving,NaN,NaN,NaN
647,2011,04-Sep-11,13h00,USA,Hawaii,"Nimitz State Beach, Oahu",N,NaN,"No injury, shark bit surfboard",Unprovoked,Surfing,NaN,NaN,M. Filipe
688,2011,Reported 14-Jun-2011,NaN,UNITED KINGDOM,Cornwall,St. Ives,N,"Oceanic whitetip shark, 7'","No injury, shark slammed into boat",Boat,Fishing,NaN,NaN,16' Dreamcatcher. Occupant: Ian Bussus
733,2011,03-Jan-11,12h00,AUSTRALIA,Western Australia,Busselton,N,White shark,"No injury, shark nudged boat and bit propeller",Boat,Fishing,NaN,NaN,"A 'tinnie"". Occupants :Paul Sweeny, Paul Nieuw..."
844,2009,12-Dec-09,07h30,AUSTRALIA,New South Wales,Hawks Nest Beach,N,White shark,No injury to occupants; shark bit steering oar,Boat,Rowing,NaN,NaN,Surf boat with 5 lifesavers on board
941,2009,24-Jan-09,19h00,NEW ZEALAND,North Island,Alderman Islands,N,NaN,"No injury to occupant, shark removed small aux...",Boat,Fishing,NaN,NaN,7.2 m boat. Occupant Kelvin Travers
947,2009,Reported 13-Jan-2009,NaN,SOUTH AFRICA,Western Cape Province,"Shark Alley, off Gansbaai",Y,NaN,FATAL,Unprovoked,NaN,NaN,NaN,4 poachers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5628,1874,23-Jul-1874,NaN,FRANCE,NaN,NaN,N,NaN,Shark and boat collided. No injury to occupants,Boating,Fishing,NaN,NaN,NaN
5635,1874,1874,Night,TUVALU,NaN,Between Nanumea & Nanumaga Atolls,Y,NaN,"2 people out of +70 survived, one of whom was ...",Boating,Fleet of canoes caught by a squall and charged...,NaN,NaN,NaN
5644,1872,26-Feb-1872,NaN,AUSTRALIA,Queensland,Bramble Reef,Y,NaN,"FATAL, some were taken by sharks",Sea Disaster,Wreck of the 150-ton brig Maria,NaN,NaN,NaN
5668,1868,Reported 04-Jan-1868,NaN,AUSTRALIA,South Australia,Belfast (now Port Fairy),N,NaN,"No injury to occupants, shark's teeth embedded...",Sea Disaster,Fishing,NaN,NaN,"boat, occupants: John Griffiths & Thomas Johnson"
5679,1865,1865,NaN,AUSTRALIA,South Australia,Semaphore,N,NaN,"No injury to pilot, oar bitten",Boating,Boarding a ship,NaN,NaN,"R.H. Barrett, pilot holding steering oar of wh..."
5697,1862,04-Dec-1862,NaN,NEW ZEALAND,South Island,Lyttleton?,UNKNOWN,NaN,NaN,Invalid,NaN,NaN,NaN,NaN
5767,1847,Reported in 1847,NaN,AUSTRALIA,Queensland,Moreton Bay,N,NaN,Foot severed at ankle joint,Unprovoked,NaN,NaN,NaN,a native
5779,1842,06-Jul-1842,NaN,USA,New Jersey,"Absecon, Atlantic County",n,NaN,Lacerations to leg PROVOKED INCIDENT,Provoked,Harassing a shark,NaN,NaN,male
5785,1840,Feb-1840,NaN,AUSTRALIA,Tasmania,George Town Cove,N,NaN,"No injury to occupant, shark seized stern post",Boat,Sailing,NaN,NaN,A dinghy
5794,1836,1836.07.26.R,NaN,SPAIN,NaN,NaN,NaN,NaN,"Shark caught, contained human remains",Invalid,NaN,NaN,NaN,NaN
5795,1836,1836.00.,NaN,AUSTRALIA,South Australia,NaN,UNKNOWN,NaN,"No details, it was the year the first settlers...",Unprovoked,NaN,NaN,NaN,NaN
5818,1822,15-Apr-1822,NaN,NIGERIA,Rivers State,Bonny River,Y,NaN,FATAL,Unprovoked,NaN,NaN,NaN,slaves
5825,1816,Reported 03-Sept-1816,NaN,USA,Rhode Island,Bristol Harbor,Y,NaN,FATAL,Unprovoked,Swimming,NaN,NaN,male
5830,1804,Reported 26-Feb-1804,NaN,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",N,NaN,No injury to occupants,Boat,NaN,NaN,NaN,boat
5834,1788,10-May-1788,NaN,AUSTRALIA,New South Wales,Sydney Harbor,N,NaN,"No injury to occupants, shark bit oar and rudder",Boat,Fishing,NaN,NaN,boat
5839,1776,1776,NaN,GREENLAND,NaN,NaN,Y,White sharks,FATAL,Boat,NaN,NaN,NaN,Occupants of skin boats
5849,1733,1733,NaN,ICELAND,Bardestrand,Talkknefiord,NaN,NaN,"Partial hominid remains recovered from shark, ...",Invalid,NaN,NaN,NaN,NaN
5857,1637,Reported 1637,NaN,INDIA,West Bengal,Hooghly River mouth,UNKNOWN,NaN,NaN,Unprovoked,Wading,NaN,NaN,Hindu pilgrims
5858,1617,Reported 1617,NaN,INDIA,West Bengal,Ganges Delta,UNKNOWN,NaN,NaN,Unprovoked,NaN,NaN,NaN,Indian people
5865,500,Circa 500 A.D.,NaN,MEXICO,NaN,NaN,N,NaN,Foot severed,Unprovoked,NaN,NaN,NaN,male
5871,0,Ca. 725 B.C.,NaN,ITALY,Tyrrhenian Sea,"Vase found during excavations at Lacco Ameno, ...",N,NaN,"Vase depicts shipwrecked sailors, one of whom ...",Sea Disaster,NaN,NaN,NaN,NaN
5875,0,Before 1934,NaN,URUGUAY,Rocha,"Isla Chica, La Paloma",N,NaN,Foot bitten,Unprovoked,Swimming,NaN,NaN,NaN
5887,0,Before 2012,NaN,SPAIN,Canary Islands,Tenerife,N,NaN,Injury required 16 stitches,Unprovoked,Skin diving,NaN,NaN,NaN
5892,0,Before 1963,NaN,DJIBOUTI,Gulf of Tadjoura,NaN,Y,NaN,FATAL,Unprovoked,A dhow capsized,NaN,NaN,Passenger & crew
5902,0,Before 2004,NaN,MOZAMBIQUE,Inhambane Province,Off Inhambane,N,Whale shark,"No injury to occupants, shark bumped boat",Boat,Fishing,NaN,NaN,"4.8-metre skiboat, Occupants: Rod Salm & 4 fri..."
5909,0,Before Feb-1998,NaN,SOLOMON ISLANDS,Malaita Province,Waibana Passage,N,NaN,Lacerations to hands and knee,Unprovoked,Diving,NaN,NaN,Albert Raiti
5927,0,"No date, Before 1963",NaN,SINGAPORE,NaN,"Keppel Harbor, 2 miles from Singapore city ce...",N,NaN,Recovered,Unprovoked,Swimming,NaN,NaN,NaN
5949,0,1941-1945,Late afternoon,NaN,NaN,NaN,Y,1.2 m [4'] shark,"FATAL, shark leapt into raft and bit the man w...",Sea Disaster,A group of survivors on a raft for 17-days,NaN,NaN,C.
5968,0,Between 1918 & 1939,NaN,REUNION,Saint-Denis,Barachois,Y,NaN,FATAL,Unprovoked,Swimming,NaN,NaN,NaN
5977,0,Before 1917,NaN,FIJI,Moala Island,NaN,Y,NaN,"FATAL, 18 people were killed by sharks, 2 sur...",Unprovoked,Wreck of large double sailing canoe,NaN,NaN,20 Fijians

In [15]:
# SEX - Defining Gender cleaning function:
def gender_cleaning(x):
    if x == 'F'or x=='M':
        return x
    else:
        return 'NaN'
# Applying Gender cleaning function to the Sex Column:
df['Sex'] = df['Sex'].apply(gender_cleaning)

In [16]:
# SEX - checking data
df['Sex'].value_counts()

M      4837
F       585
NaN     570
Name: Sex, dtype: int64

In [17]:
# YEAR - exploratory analysis
df['Year'].value_counts()

2015    139
2011    128
2014    125
0       124
2013    122
2008    121
2009    120
2012    117
2007    112
2006    103
2016    103
2005    103
2010    101
2000     97
1959     93
1960     93
2001     92
2004     92
2003     92
2002     88
1962     86
1961     78
1995     76
1964     66
1998     65
1999     65
1996     61
1963     61
1966     58
1997     57
       ...
1785      1
1834      1
1791      1
1733      1
1721      1
1637      1
1617      1
77        1
5         1
1703      1
1755      1
1767      1
1771      1
1779      1
1787      1
1803      1
1749      1
1807      1
1811      1
1819      1
1805      1
1831      1
1555      1
1738      1
1859      1
1742      1
1758      1
1818      1
1822      1
1595      1
Name: Year, Length: 232, dtype: int64

In [18]:
# YEAR - checking statistics summary to get the minimum year with 4 digits format
df['Year'].describe()

count    5992.000000
mean     1925.204606
std       286.473712
min         0.000000
25%      1942.000000
50%      1975.000000
75%      2003.000000
max      2016.000000
Name: Year, dtype: float64

In [19]:
# YEAR - we only keep data after this minimum. Due to data collection methods, better to focus on quality than quantity.
# If the year is not well registered, we can assume that this is not a good quality report of the attack incident.
df = df.loc[df['Year'] >= 1942]
df['Year'].describe()

count    4503.000000
mean     1987.082834
std        22.191686
min      1942.000000
25%      1965.000000
50%      1993.000000
75%      2007.000000
max      2016.000000
Name: Year, dtype: float64

In [20]:
# YEAR - Group by creating decades ranges
#df['Year'].value_counts().groupby(10).sum().head()

In [21]:
# Then we can check how are the DATE format in the oldest values of YEAR (25% quartile --> 1942-1966) 
df.loc[(df['Year'] >= 1942)& (df['Year'] <= 1966)]

,Year,Date,Time,Country,Area,Location,Fatal (Y/N),Species,Injury,Type,Activity,Sex,Age,Name
3314,1966,31-Dec-66,NaN,AUSTRALIA,Tasmania,"Piccaninny Point, 10 miles from Bicheno",N,2.1 m [7'] shark,"6"" laceration to left forearm",Unprovoked,Fishing,M,30,Alf Bosworth
3315,1966,27-Dec-66,NaN,AUSTRALIA,New South Wales,South West Rocks,N,"Grey nurse shark, 1.5 m [5']",The shark bit the diver's leg after he shot it...,Provoked,Spearfishing,M,29,Robert Lusted
3316,1966,27-Dec-66,NaN,AUSTRALIA,New South Wales,Trial Bay,N,"Grey nurse shark, 1.5 m [5']",Right hand lacerated,Unprovoked,Spearfishing,M,19,Lyle Fielding
3317,1966,26-Dec-66,Afternoon,SINGAPORE,NaN,Singapore,N,NaN,Thigh bitten,Unprovoked,Wading,M,39,Hussain Ali
3318,1966,26-Dec-66,NaN,AUSTRALIA,New South Wales,Coogee,N,1.8 m [6'] shark,Right leg bitten,Unprovoked,Spearfishing,M,29,David Jensen
3319,1966,14-Nov-66,NaN,THAILAND,NaN,NaN,UNKNOWN,NaN,No details,Unprovoked,NaN,NaN,28,Vinit Tantikarn
3320,1966,Early Nov-1966,NaN,PAPUA NEW GUINEA,New Ireland Province,NaN,Y,3.7 m [12'] shark,FATAL,Unprovoked,A father bathing his smallest daughter when th...,F,9 months,Theresa Maineri
3321,1966,30-Oct-66,Morning,PAPUA NEW GUINEA,New Ireland Province,"Lamassa Island, 16 miles from Lambom Island",Y,3.7 m [12'] shark,FATAL,Unprovoked,Swimming,F,13,Ridel Pogias (female)
3322,1966,19-Oct-66,09h00,PAPUA NEW GUINEA,New Ireland Province,"Mission Beach, Lambon Island, near Duke of Yor...",Y,3.7 m [12'] shark,FATAL,Unprovoked,Bathing,F,8,Dakel (female)
3323,1966,27-Sep-66,16h45,AUSTRALIA,Queensland,"Broomfield Island, 11 miles from Heron Island ...",N,"Bronze whaler shark, 2.1 m [7'], a tooth was e...",Shoulder lacerated,Unprovoked,"Free diving, carrying speargun",M,32,Barry Dawson
3324,1966,19-Sep-66,NaN,USA,Hawaii,50 miles NE of Honolulu,N,NaN,Left elbow or hand bitten PROVOKED INCIDENT,Provoked,Fishing,M,20,Akiyoshi Morita
3325,1966,18-Sep-66,NaN,AUSTRALIA,Western Australia,"Little Beach Reef, Bremer Bay",N,NaN,The 2.9 m [9.5'] shark never made contact with...,Invalid,Spearfishing,M,NaN,John Marsh
3326,1966,13-Sep-66,Late afternoon,AUSTRALIA,Western Australia,Albany,UNKNOWN,NaN,Involved a speared shark but no other details ...,Provoked,Spearfishing,M,NaN,Terry Adams
3327,1966,10-Sep-66,12h00,AUSTRALIA,Western Australia,Roe Reef off Rottnest Island,N,"Mako shark, 1.9 m [6.5']",No injury,Unprovoked,Spearfishing,M,43,Frank Paxman
3328,1966,08-Sep-66,NaN,USA,Florida,"Florida Keys, Monroe County",N,"Nurse shark, 2.5'",Abdomen abraded when he seized shark PROVOKED ...,Provoked,Hunting crayfish,M,14,David Redmond
3329,1966,Sep-66,NaN,BAHAMAS,Bimini Islands,Tongue of the Ocean,N,NaN,2.4 to 3 m [8' to 10'] oceanic whitetip shark ...,Invalid,Diving / UW photography,M,NaN,Jerry Greenberg
3330,1966,28-Aug-66,NaN,AUSTRALIA,Northern Territory,Darwin Harbour,N,NaN,"No injury to occupant. Shark struck vessel, ja...",Boat,NaN,M,NaN,"catamaran, occupant: Neil Fowler"
3331,1966,27-Aug-66,NaN,SOUTH AFRICA,KwaZulu-Natal,Durban,N,NaN,"No attack, no injury to occupant: a 400-lb gre...",Invalid,Netting sharks,M,NaN,"trawler Jacoba, occupant Jan van der Bent"
3332,1966,27-Aug-66,17h00,BAHAMAS,Bimini Islands,NaN,N,NaN,"Survived, no details",Unprovoked,Snorkeling,F,18,Patricia Hodge
3333,1966,23-Aug-66,Midday,NEW BRITAIN,Duke of York Islands,"Butliwan Village, 15 miles north of Rabaul",Y,A pack of 6 sharks,FATAL,Unprovoked,Swimming,F,13,Memilana Bokset (female - rescuer)
3334,1966,23-Aug-66,Midday,NEW BRITAIN,Duke of York Islands,"Butliwan Village, 15 miles north of Rabaul",Y,A pack of 6 sharks,FATAL,Unprovoked,Diving into water,F,9,Loding Etwat (female)
3335,1966,16-Aug-66,NaN,CROATIA,Primorje-Gorski Kotar County,Bakar,Y,White shark,FATAL,Unprovoked,Swimming,M,33,Josef Treliac
3336,1966,14-Aug-66,17h30,TAIWAN,NaN,Ye Leow,N,1.5 m to 2.1 m [5' to 7'] shark,"No injury, but shark struck his calf",Unprovoked,Lobster diving using Scuba,M,NaN,Jack W. Caldwell
3337,1966,13-Aug-66,NaN,ITALY,Taranto province,"Pulsano, near Taranto",N,"""small shark""",Arm lacerated,Unprovoked,Attacked shark with fists,M,21,Cosimo Piccinni
3338,1966,Mid Aug-1966,17h00,USA,Delaware,Fenwick Island,N,NaN,"No attack, no injury, shark took speared fish ...",Invalid,Spearfishing on Scuba,M,26,Charles T. Henderson
3339,1966,Aug-66,15h00,USA,Florida,"Municipal Bathing area, Riviera Beach, Palm Be...",N,Spinner or blacktip sharks,"No injury, mother lifted him from the water",Unprovoked,Wading,M,8,Shawn Carpenter
3340,1966,31-Jul-66,NaN,USA,Texas,"South Jetty, Galveston",N,Lemon shark or sandtiger shark,Dorsum of right foot grazed,Unprovoked,Diving for sand dollars,M,16,Robert W. Russell
3341,1966,19-Jul-66,18h40,USA,South Carolina,"Folly Beach, Charleston County",N,4' shark,"Arm bitten, PROVOKED INCIDENT",Provoked,Killing a shark,M,34,Marvin Estridge
3342,1966,17-Jul-66,15h00,USA,Texas,"Point Comfort, Calhoun County",N,NaN,Lacerations to right foot,Unprovoked,Fishing,M,14,Tommy Barilek
3343,1966,17-Jul-66,NaN,TAIWAN,Northern Taiwan,Tamsui Beach,Y,NaN,"FATAL, left leg severed",Unprovoked,Swimming,M,20,Yang Ching-Hui
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4474,1942,12-Oct-42,NaN,SOLOMON ISLANDS,Makora-Ulawa Province,Cape Esperance (near Savo Islands),N,NaN,"Foot, hand, elbow & calf lacerated & abraded, ...",Sea Disaster,"His ship, the US destroyer Duncan DD 485, had ...",M,25,Lieutenant Commander Herbert Richard Kabat
4475,1942,30-Sep-42,NaN,ATLANTIC OCEAN,04.05N-13.23W,NaN,N,NaN,Survivors on life rafts were harassed by sharks,Sea Disaster,The 6015-ton British ship Empire Avocet was to...,NaN,NaN,NaN
4476,1942,12-Sep-42,NaN,ATLANTIC OCEAN,NaN,360 miles north of Ascension Island,N,NaN,Calf lacerated. He was rescued by German subma...,Sea Disaster,"The Pacquebot Laconia, enroute to Liverpool wi...",M,NaN,Michael Setti
4477,1942,12-Sep-42,16h30,AUSTRALIA,Queensland,"Trinity Beach, 17 km northwast of Cairns",N,"Tiger shark, 2.4 m to 3 m [8' to 10']","Right foot severed & calf removed, leg surgic...",Unprovoked,Treading water,M,24,"Athol Wearne, Royal Australian Air Force. officer"
4478,1942,11-Sep-1942 to 16-Sep-1942,NaN,SOUTHWEST PACIFIC OCEAN,NaN,Southwestern Pacific Base,Y,Tiger shark & others,"FATAL, 2 of the 9 airmen killed by sharks",Sea Disaster,Adrift on life raft,M,NaN,US Army fliers
4479,1942,08-Aug-42,NaN,SOLOMON ISLANDS,NaN,NaN,N,NaN,Lacerations to left arm,Sea Disaster,Japanese aircraft shot down. He was one of two...,M,NaN,Tamaki Amano
4480,1942,12-Jul-42,NaN,ATLANTIC OCEAN,NaN,NaN,Y,NaN,FATAL Arm bitten,Sea Disaster,The SS Potlach was torpedoed & sunk by the U-1...,M,32,John Martin Miller
4481,1942,06-Jul-42,NaN,ITALY,Liguria,Savona,N,Porbeagle shark,"After he hit the shark with an oar, the shark ...",Provoked,Sculling,M,20,Gino Bardolini
4482,1942,Reported 11-Jun-1942,NaN,BAY OF BENGAL,NaN,NaN,Y,NaN,FATAL,Sea Disaster,A 210-ton brig was sunk by a Japanese submarin...,M,NaN,2 males
4483,1942,Reported 08-Jun-1942,NaN,BRAZIL,NaN,NaN,Y,440-lb shark,"Remains recovered from shark, but cause of de...",Invalid,boat capsized during filming,M,NaN,Jacare
4484,1942,04-Jun-42,NaN,USA,Midway Atoll,NaN,N,NaN,Survived,Unprovoked,"Plane crashed in water, men in life raft",M,NaN,a pilot
4485,1942,Jun-42,NaN,NaN,300 miles east of St. Thomas (Virgin Islands),NaN,N,NaN,Forearm lacerated,Unprovoked,On life raft tethered to lifeboat. A seaman pu...,M,NaN,male
4486,1942,09-May-42,NaN,AUSTRALIA,Queensland,"Great Barrier Reef, off Cairns",N,NaN,"Hands, arms & knee lacerated",Unprovoked,Diving from lugger,M,NaN,Abraham Johnson
4487,1942,05-Apr-42,NaN,INDIAN OCEAN,West of Ceylon (Sri Lanka),300 nm from shore,Y,NaN,Sharks were numerous & took corpses but made n...,Invalid,H.M.S. Cornwall & H.M.S.Dorsetshire sunk by Ja...,NaN,NaN,NaN
4488,1942,08-Mar-42,Ship aban-doned at 03h10,CUBA,Guantanamo Province,30 nm southeast of Guantanamo Bay,Y,NaN,"Of her crew of 50, eight perished, including t...",Sea Disaster,Esso Bolivar was torpedoed & shelled by the Ge...,M,NaN,A wounded member of Naval guncrew being towed ...
4489,1942,04-Mar-42,NaN,AUSTRALIA,New South Wales,Georges River,Y,NaN,"Cause of death was drowning, shark bites were ...",Invalid,NaN,M,18,Ronald J. Bishop
4490,1942,18-Jan-42,NaN,AUSTRALIA,New South Wales,Fairy Bower,N,NaN,Paddle of surf ski bitten by shark,Boating,NaN,NaN,NaN,paddle of surf-ski
4491,1942,04-Jan-42,15h00,AUSTRALIA,New South Wales,"Egg Rock, Middle Harbor, Sydney",Y,"Bull shark, 4 m [13']","FATAL, bitten in two",Unprovoked,Swimming,F,28,Zita Steadman
4492,1942,Jan-42,NaN,AUSTRALIA,New South Wales,"Fairy Bower, near North Steyne",N,3 m [10'] shark,Attempted to frighten shark by smacking water ...,Provoked,Surf-skiing,M,NaN,male
4493,1942,1942,NaN,INDONESIA,East Java,Surabaya,Y,NaN,"General Imamura, Commander in Chief of Japanes...",Sea Disaster,Captured Allied soldiers were squeezed into 3'...,M,NaN,200 soldiers
4494,1942,Winter 1942,NaN,AUSTRALIA,Tasmania,Off Big Friar Island,N,NaN,"No injury to occupants, rudder damaged by shark",Boating,Fishing for perch,M,NaN,Storm King; occupants - George Bridge & 2 sons
4495,1942,Summer 1942,NaN,PHILIPPINES,Camiguin Island,2 kilometres off Sagay,Y,NaN,FATAL,Unprovoked,"Sailing from Gingood, Misamis Oriental to Saga...",M,NaN,Andong & 2 others
4496,1942,1942,NaN,SOUTH AFRICA,Western Cape Province,Simons Bay,N,NaN,"No injury to occupants, boat rammed by shark",Boating,NaN,NaN,NaN,boat
4497,1942,1942,NaN,SOUTH AFRICA,Western Cape Province,Simon's Bay,N,Said to involve a 6.5 m [21.5'] shark,No injury,Boating,NaN,NaN,NaN,boat
4498,1942,1942,Late afternoon,BAHAMAS,Cay Sal Bank,Anchored off the largest island in the group,N,1.2 m to 1.5 m [4' to 5'] shark,"Minor injury, ankle scratched by shark's teeth",Unprovoked,Swimming along side N.E.L. vessel Saluda,M,48,Herbert J. Mann
4499,1942,1942,NaN,NaN,NaN,NaN,Y,NaN,FATAL,Sea Disaster,Jumped overboard from torpedoed Panamanian fre...,M,NaN,male
4500,1942,1942,NaN,MID-PACIFC OCEAN,(Southwestern Pacific),NaN,N,NaN,"Fingers badly lacerated, wounds became septic",Sea Disaster,"Plane forced down, 3 men on rubber life raft. ...",M,NaN,Gene Aldrich
4501,1942,1942,NaN,SOUTHWEST PACIFIC OCEAN,NaN,NaN,N,"Said to be leopard sharks, more probably tig...","No injury to occupants, They fought off sharks...",Sea Disaster,Ditched plane in the sea & were adrift on a ru...,M,NaN,American aviators
4502,1942,1942,NaN,NaN,NaN,NaN,N,NaN,No injury to occupants. Sharks continually fol...,Boating,"Days before the surrender of Singapore, the 3 ...",M,NaN,"Bombardier J. Hall, Private Green of the Sherw..."
4503,1942,1942,NaN,PANAMA,Panama City,Bella Vista Beach,Y,NaN,"FATAL, body not recovered",Unprovoked,Swimming,M,NaN,male

In [34]:
# DATE - Data cleaning & manipulation: 
# We already have the year so we will try to extract the month from the date (removing digits of day/year)
# --> in case we can observe some seasonality
# defining a function to clean detecting year format in date column:
def cleaning_date(x):
    pattern1 = '[0-9]+|reported|late|between|early|winter|summer|and|mid' 
    xbis = re.sub(pattern1,'', x.lower())
    pattern2 = '[^jan|^feb|^mar|^apr|^may|^jun|^jul|^aug|^sep|^oct|^nov|^dec]'
    new_x = re.sub(pattern2,'', xbis)
    month_list = ['jan','feb','mar','apr','may','jun','jul','aug','sep','oct','nov','dec']
    if new_x in month_list:
        return new_x
    else:
        return 'NaN'

# we apply the cleaning date function and rename the variable to month
df['Month'] = df['Date'].apply(cleaning_date)

In [35]:
df['Month'].value_counts()

jul    488
aug    463
sep    423
jun    375
jan    365
oct    342
apr    329
dec    321
mar    302
nov    299
may    293
feb    277
NaN    226
Name: Month, dtype: int64

In [25]:
# Fatal (Y/N) - exploratory analysis
df['Fatal (Y/N)'].value_counts()

N          3585
Y           857
UNKNOWN      53
Name: Fatal (Y/N), dtype: int64

In [ ]:
df['Fatal (Y/N)'].replace('UNKNOWN')

In [74]:
# AGE - exploratory analysis
df['Age'].value_counts()

19                122
17                121
15                120
18                120
20                120
16                118
21                104
22                101
24                 96
25                 94
14                 86
13                 76
28                 73
26                 72
29                 71
23                 70
27                 70
30                 67
32                 62
35                 60
12                 60
31                 49
10                 46
34                 43
40                 43
43                 40
36                 39
38                 38
33                 37
37                 36
                 ...
23 & 26             1
21 & ?              1
30 or 36            1
17 & 16             1
F                   1
mid-20s             1
1                   1
60's                1
67                  1
9 & 12              1
mid-30s             1
7      &    31      1
33 & 37             1
Elderly             1
9 months            1
"young"             1
7 or 8              1
18 to 22            1
28 & 26             1
? & 19              1
30 & 32             1
28, 23 & 30         1
46 & 34             1
33 & 26             1
"middle-age"        1
13 or 18            1
17 & 35             1
16 to 18            1
23 & 20             1
36 & 26             1
Name: Age, Length: 138, dtype: int64

In [75]:
# AGE - exploratory analysis
df['Age'].describe()

count     2981
unique     138
top         19
freq       122
Name: Age, dtype: object

In [77]:
# AGE: Data cleaning and Manipulation:
# Defining Age cleaning function:
def age_cleaning(x):
    pattern1 = '\D' 
    x_new = re.sub(pattern1,'', x)
    if len(x_new) >0 & len(x_new) <= 2:
        return x_new
    elif len(x_new) > 2:
        return x_new[0:2]
    else:
        return 'NaN'
# we apply the cleaning date function to age var
df['Age'] = df['Age'].apply(age_cleaning)

TypeError: expected string or bytes-like object

In [72]:
# COUNTRY - strip leading and trailing space: removing spaces from both left and right side of the strings
df['Country'] = df['Country'].apply(lambda x: x.str.strip())
# COUNTRY - exploratory analysis
df['Country'].value_counts().head(50)

AttributeError: 'str' object has no attribute 'str'

In [ ]:
# N - 0, S - 1
NORTH = ['CROATIA','NORWAY','FRANCE','MARTINIQUE','ICELAND','SIERRA LEONE','CYPRUS','LIBERIA','DJIBOUTI'
         'NORTH ATLANTIC OCEAN','KOREA','JAMAICA','ARUBA','ST. MARTIN','ASIA','CAPE VERDE','ANTIGUA','JOHNSTON ISLAND',
         'SUDAN','SOUTH KOREA','UNITED ARAB EMIRATES','UAE','DOMINICAN REPUBLIC','PHILIPPINES','MALAYSIA',
         'BRITISH VIRGIN ISLANDS','CHINA','SOUTH CHINA SEA','ATLANTIC OCEAN','ITALY','VENEZUELA','DIEGO GARCIA'

SOUTH = ['JAVA','NEW BRITAIN','URUGUAY','ADMIRALTY ISLANDS','PAPUA NEW GUINEA','TAIWAN','EL SALVADOR',
         'MID ATLANTIC OCEAN','NAMIBIA','OCEAN','MAURITIUS','FRENCH POLYNESIA','TUVALU','SOUTH ATLANTIC OCEAN',
         'SOLOMON ISLANDS / VANUATU',
            
         
          
            : 1, 
            'MEDITERRANEAN SEA?': 0, 'INDIAN OCEAN?': 1, 'INDIA': 0, 'SOUTH AFRICA': 1, 
            'St Helena': 1, 'WESTERN SAMOA': 1, 'TASMAN SEA': 1, 'HONG KONG': 0, 'TONGA': 1, 
            'YEMEN': 0, 'COLUMBIA': 0, 'NORTHERN MARIANA ISLANDS': 0, 'GUAM': 0, 'GUINEA': 0, 
            'CENTRAL PACIFIC': 2, 'GUATEMALA': 0, 'FIJI': 1, 'GULF OF ADEN': 0, 'JAPAN': 0, 
            'MID-PACIFC OCEAN': 0, 'ST. MARTIN': 1, 'USA': 0, 'CRETE': 0, 'BRAZIL': 1, 
            'TURKS & CAICOS': 0, 'SOUTHWEST PACIFIC OCEAN': 1, 'GREENLAND': 0, 
            'BAY OF BENGAL': 1, 'PACIFIC OCEAN': 0, 'LEBANON': 0, 'MALTA': 0, 'NIGERIA': 0, 
            'GREECE': 0, 'MEXICO': 0, 'BERMUDA': 0, 'UNITED KINGDOM': 0, 'SINGAPORE': 0, 
            'BRITISH ISLES': 0, 'TURKEY': 0, 'NEVIS': 1, 'AUSTRALIA': 1, 'ENGLAND': 0, 
            'SIERRA LEONE': 0, 'VANUATU': 1, 'NORTH SEA': 0, 'RUSSIA': 0, 'MICRONESIA': 0, 
            'PORTUGAL': 0, 'RED SEA': 0, 'MONTENEGRO': 0, 'IRAQ': 0, 'SWEDEN': 0, 
            'PERSIAN GULF': 0, 'NORTH ATLANTIC OCEAN': 0, 'Fiji': 1, 'SLOVENIA': 0, 
            'PHILIPPINES': 0, 'IRAN / IRAQ': 0, 'TUNISIA': 0, 'SAN DOMINGO': 1, 'AZORES': 0, 
            'GEORGIA': 0, 'BURMA': 0, 'NEW GUINEA': 1, 'SUDAN?': 0, 'NETHERLANDS ANTILLES': 0, 
            'ALGERIA': 0, 'NICARAGUA': 0, 'SEYCHELLES': 1, 'RED SEA?': 0, 'BRITISH NEW GUINEA': 1, 
            'THAILAND': 0, 'PALESTINIAN TERRITORIES': 0, 'FALKLAND ISLANDS': 1, 'IRELAND': 0, 
            'MONACO': 0, 'PARAGUAY': 1, 'SYRIA': 0, 'EGYPT ': 0, 'MADAGASCAR': 1, 
            'NORTH PACIFIC OCEAN': 0, 'EGYPT / ISRAEL': 0, 'COOK ISLANDS': 1, 
            'TRINIDAD & TOBAGO': 0, 'PACIFIC OCEAN ': 0, 'EQUATORIAL GUINEA / CAMEROON': 0, 
            'ISRAEL': 0, 'SAMOA': 1, 'ECUADOR': 1, 'CARIBBEAN SEA': 0, 'NEW CALEDONIA': 1, 
            'MARSHALL ISLANDS': 0, 'PANAMA': 0, 'UNITED ARAB EMIRATES': 0, 'ITALY / CROATIA': 0, 
            'NEW ZEALAND': 1, 'MALDIVE ISLANDS': 0, 'GHANA': 0, 'MOZAMBIQUE': 0, 'SRI LANKA': 0, 
            'SOLOMON ISLANDS': 1, 'Coast of AFRICA': 1, 'BARBADOS': 0, 'BANGLADESH': 0, 
            'CHILE': 1, 'CANADA': 0, 'HONDURAS': 0, 'PALAU': 0, 'AMERICAN SAMOA': 1, 
            'SAUDI ARABIA': 0, ' TONGA': 1, 'SPAIN': 0, 'ARGENTINA': 1, 'CURACAO': 0, 
            'ANDAMAN / NICOBAR ISLANDAS': 0, 'KENYA': 1, 'EGYPT': 0, 'THE BALKANS': 0, 
            'PUERTO RICO': 0, 'KIRIBATI': 0, 'OKINAWA': 0, 'REUNION': 1, 
            'BRITISH WEST INDIES': 0, 'NICARAGUA ': 0, 'FEDERATED STATES OF MICRONESIA': 0, 
            'IRAN': 0, 'CAYMAN ISLANDS': 0, 'SOMALIA': 0, 'INDONESIA': 1, 'KUWAIT': 0, 
            'Seychelles': 1, 'COSTA RICA': 0, 'INDIAN OCEAN': 1, 'CEYLON (SRI LANKA)': 0, 
            'YEMEN ': 0, 'HAITI': 0, 'SCOTLAND': 0, 'CUBA': 0, 'GUYANA': 0, 'LIBYA': 0, 
            'MEXICO ': 0, 'SENEGAL': 0, 'GRAND CAYMAN': 0, 'GABON': 1, 'GRENADA': 0, 
            'RED SEA / INDIAN OCEAN': 0, 'VIETNAM': 0, 'BAHAMAS': 0, 'BAHREIN': 0, 
            'NORTHERN ARABIAN SEA': 0, 'BELIZE': 0, 'MEDITERRANEAN SEA': 0, 'ANGOLA': 1, 
            'SOUTH PACIFIC OCEAN': 1, 'TANZANIA': 1,  
            'MAYOTTE':1}

In [48]:
north = "Afghanistan,Austria,Algeria,Andorra,Antigua and Barbuda,Albania,Azerbaijan,Bahamas,Bahrain,Bangladesh,Barbados,Belarus,Belgium,Belize,Benin,Bhutan,Bosnia and Herzegovina,Brunei,Bulgaria,Cambodia,Cape Verde,Colombia,Costa Rica,Côte d’Ivoire,Croatia,Cuba,Cyprus,Czech Republic,Denmark,Djibouti,Dominica,Dominican Republic,Egypt,Equatorial Guinea,Eritrea,Estonia,Finland,Armenia,Liberia,Libya,Burkina Faso,Cameroon,Burma (Myanmar),Canada,Central African Republic,Chad,China,China PR,Chinese Taipei (Taiwan),El Salvador,Ethiopia,Federated States of Mcronesia,France,Gambia,Georgia,Germany,Ghana,Great Britain (United Kingdom),Greece,Grenada,Guatemala,Guinea,Guinea-Bissau,Guyana,Guyane (French Guiana),Haiti,Honduras,Hong Kong,Hungary,Iceland,India,Japan,Iran,Iraq,Isle of Man,Israel,Italy,Jamaica,Jordan,Kazakhstan,Kenya,Kosovo,Kuwait,Kyrgyzstan,Laos,Latvia,Lebanon,Liechtenstein,Lithuania,Luxembourg,Macedonia (F.Y.R.O.M.),Malaysia,Maldives,Mali,Malta,Marshall Islands,Mauritania,Mexico,Moldova,Monaco,Mongolia,Montenegro,Morocco,Nepal,Netherlands,Nicaragua,Niger,Nigeria,North Korea,Norway,Oman,Pakistan,Palau,Panama,Peru,Poland,Portugal,Puerto Rico,Romania,Russia,Russian Federation,Qatar,Saint Kitts and Nevis,Saint Lucia,Saint Vincent and the Grenadines,San Marino,Sao Tome and Principe,Saudi Arabia,Senegal,Serbia,Sierra Leone,Singapore,Slovakia,Slovenia,Somalia,South Korea,South Sudan,Spain,Sri Lanka,Suriname,Sweden,Switzerland,Syria,Tajikistan,Thailand,Togo,Trinidad and Tobago,Tunisia,Turkey,Turkmenistan,Uganda,Ukraine,United Arab Emirates,United States of America,Uzbekistan,Vatican,Venezuela,Yemen,Sudan,Western Sahara"
south = "Angola,Argentina,Australia,Bolivia,Botswana,Brazil,Burundi,Comoros,Ecuador,Democratic Republic of Congo,East Timor,Zambia,Chile,Gabon,Indonesia,Kiribati,Lesotho,Madagascar,Malawi,Mauritius,Mayotte,Mozambique,Namibia,Nauru,New Zealand,Papua New Guinea,Paraguay,Rwanda,Samoa,Seychelles,South Africa,Swaziland,Tanzania,Tonga,Tuvalu,Uruguay,Vanuatu,Republic of the Congo,Congo,Zimbabwe,Fiji Islands,Solomon Islands,Philippines"

In [54]:
north_list = north.upper().split(',')
south_list = north.upper().split(',')
print('HEMISPHERE NORTH is composed by:\n',north_list)
print('\n')
print('HEMISPHERE SOUTH is composed by:\n',south_list)

HEMISPHERE NORTH is composed by:
 ['AFGHANISTAN', 'AUSTRIA', 'ALGERIA', 'ANDORRA', 'ANTIGUA AND BARBUDA', 'ALBANIA', 'AZERBAIJAN', 'BAHAMAS', 'BAHRAIN', 'BANGLADESH', 'BARBADOS', 'BELARUS', 'BELGIUM', 'BELIZE', 'BENIN', 'BHUTAN', 'BOSNIA AND HERZEGOVINA', 'BRUNEI', 'BULGARIA', 'CAMBODIA', 'CAPE VERDE', 'COLOMBIA', 'COSTA RICA', 'CÔTE D’IVOIRE', 'CROATIA', 'CUBA', 'CYPRUS', 'CZECH REPUBLIC', 'DENMARK', 'DJIBOUTI', 'DOMINICA', 'DOMINICAN REPUBLIC', 'EGYPT', 'EQUATORIAL GUINEA', 'ERITREA', 'ESTONIA', 'FINLAND', 'ARMENIA', 'LIBERIA', 'LIBYA', 'BURKINA FASO', 'CAMEROON', 'BURMA (MYANMAR)', 'CANADA', 'CENTRAL AFRICAN REPUBLIC', 'CHAD', 'CHINA', 'CHINA PR', 'CHINESE TAIPEI (TAIWAN)', 'EL SALVADOR', 'ETHIOPIA', 'FEDERATED STATES OF MCRONESIA', 'FRANCE', 'GAMBIA', 'GEORGIA', 'GERMANY', 'GHANA', 'GREAT BRITAIN (UNITED KINGDOM)', 'GREECE', 'GRENADA', 'GUATEMALA', 'GUINEA', 'GUINEA-BISSAU', 'GUYANA', 'GUYANE (FRENCH GUIANA)', 'HAITI', 'HONDURAS', 'HONG KONG', 'HUNGARY', 'ICELAND', 'INDIA', 'JAPAN', 'IRAN', 'IRAQ', 'ISLE OF MAN', 'ISRAEL', 'ITALY', 'JAMAICA', 'JORDAN', 'KAZAKHSTAN', 'KENYA', 'KOSOVO', 'KUWAIT', 'KYRGYZSTAN', 'LAOS', 'LATVIA', 'LEBANON', 'LIECHTENSTEIN', 'LITHUANIA', 'LUXEMBOURG', 'MACEDONIA (F.Y.R.O.M.)', 'MALAYSIA', 'MALDIVES', 'MALI', 'MALTA', 'MARSHALL ISLANDS', 'MAURITANIA', 'MEXICO', 'MOLDOVA', 'MONACO', 'MONGOLIA', 'MONTENEGRO', 'MOROCCO', 'NEPAL', 'NETHERLANDS', 'NICARAGUA', 'NIGER', 'NIGERIA', 'NORTH KOREA', 'NORWAY', 'OMAN', 'PAKISTAN', 'PALAU', 'PANAMA', 'PERU', 'POLAND', 'PORTUGAL', 'PUERTO RICO', 'ROMANIA', 'RUSSIA', 'RUSSIAN FEDERATION', 'QATAR', 'SAINT KITTS AND NEVIS', 'SAINT LUCIA', 'SAINT VINCENT AND THE GRENADINES', 'SAN MARINO', 'SAO TOME AND PRINCIPE', 'SAUDI ARABIA', 'SENEGAL', 'SERBIA', 'SIERRA LEONE', 'SINGAPORE', 'SLOVAKIA', 'SLOVENIA', 'SOMALIA', 'SOUTH KOREA', 'SOUTH SUDAN', 'SPAIN', 'SRI LANKA', 'SURINAME', 'SWEDEN', 'SWITZERLAND', 'SYRIA', 'TAJIKISTAN', 'THAILAND', 'TOGO', 'TRINIDAD AND TOBAGO', 'TUNISIA', 'TURKEY', 'TURKMENISTAN', 'UGANDA', 'UKRAINE', 'UNITED ARAB EMIRATES', 'UNITED STATES OF AMERICA', 'UZBEKISTAN', 'VATICAN', 'VENEZUELA', 'YEMEN', 'SUDAN', 'WESTERN SAHARA']


HEMISPHERE SOUTH is composed by:
 ['AFGHANISTAN', 'AUSTRIA', 'ALGERIA', 'ANDORRA', 'ANTIGUA AND BARBUDA', 'ALBANIA', 'AZERBAIJAN', 'BAHAMAS', 'BAHRAIN', 'BANGLADESH', 'BARBADOS', 'BELARUS', 'BELGIUM', 'BELIZE', 'BENIN', 'BHUTAN', 'BOSNIA AND HERZEGOVINA', 'BRUNEI', 'BULGARIA', 'CAMBODIA', 'CAPE VERDE', 'COLOMBIA', 'COSTA RICA', 'CÔTE D’IVOIRE', 'CROATIA', 'CUBA', 'CYPRUS', 'CZECH REPUBLIC', 'DENMARK', 'DJIBOUTI', 'DOMINICA', 'DOMINICAN REPUBLIC', 'EGYPT', 'EQUATORIAL GUINEA', 'ERITREA', 'ESTONIA', 'FINLAND', 'ARMENIA', 'LIBERIA', 'LIBYA', 'BURKINA FASO', 'CAMEROON', 'BURMA (MYANMAR)', 'CANADA', 'CENTRAL AFRICAN REPUBLIC', 'CHAD', 'CHINA', 'CHINA PR', 'CHINESE TAIPEI (TAIWAN)', 'EL SALVADOR', 'ETHIOPIA', 'FEDERATED STATES OF MCRONESIA', 'FRANCE', 'GAMBIA', 'GEORGIA', 'GERMANY', 'GHANA', 'GREAT BRITAIN (UNITED KINGDOM)', 'GREECE', 'GRENADA', 'GUATEMALA', 'GUINEA', 'GUINEA-BISSAU', 'GUYANA', 'GUYANE (FRENCH GUIANA)', 'HAITI', 'HONDURAS', 'HONG KONG', 'HUNGARY', 'ICELAND', 'INDIA', 'JAPAN', 'IRAN', 'IRAQ', 'ISLE OF MAN', 'ISRAEL', 'ITALY', 'JAMAICA', 'JORDAN', 'KAZAKHSTAN', 'KENYA', 'KOSOVO', 'KUWAIT', 'KYRGYZSTAN', 'LAOS', 'LATVIA', 'LEBANON', 'LIECHTENSTEIN', 'LITHUANIA', 'LUXEMBOURG', 'MACEDONIA (F.Y.R.O.M.)', 'MALAYSIA', 'MALDIVES', 'MALI', 'MALTA', 'MARSHALL ISLANDS', 'MAURITANIA', 'MEXICO', 'MOLDOVA', 'MONACO', 'MONGOLIA', 'MONTENEGRO', 'MOROCCO', 'NEPAL', 'NETHERLANDS', 'NICARAGUA', 'NIGER', 'NIGERIA', 'NORTH KOREA', 'NORWAY', 'OMAN', 'PAKISTAN', 'PALAU', 'PANAMA', 'PERU', 'POLAND', 'PORTUGAL', 'PUERTO RICO', 'ROMANIA', 'RUSSIA', 'RUSSIAN FEDERATION', 'QATAR', 'SAINT KITTS AND NEVIS', 'SAINT LUCIA', 'SAINT VINCENT AND THE GRENADINES', 'SAN MARINO', 'SAO TOME AND PRINCIPE', 'SAUDI ARABIA', 'SENEGAL', 'SERBIA', 'SIERRA LEONE', 'SINGAPORE', 'SLOVAKIA', 'SLOVENIA', 'SOMALIA', 'SOUTH KOREA', 'SOUTH SUDAN', 'SPAIN', 'SRI LANKA', 'SURINAME', 'SWEDEN', 'SWITZERLAND', 'SYRIA', 'TAJIKISTAN', 'THAILAND', 'TOGO', 'TRINIDAD AND TOBAGO', 'TUNISIA', 'TURKEY', 'TURKMENISTAN', 'UGANDA', 'UKRAINE', 'UNITED ARAB EMIRATES', 'UNITED STATES OF AMERICA', 'UZBEKISTAN', 'VATICAN', 'VENEZUELA', 'YEMEN', 'SUDAN', 'WESTERN SAHARA']

In [69]:
# HEMISPHERE: Data Manipulation:
# Defining Hemisphere Assigning function:
def hem_assign(x):
    if x in south_list & x not in north_list:
        return 'South'
    elif x in north_list & x not in south_list:
        return 'North'
# Applying Hemisphere Assigning function to a new Column:
df['Hemisphere'] = df['Country'].apply(hem_assign)

#df['c'] = df.apply(lambda row: row.a + row.b, axis=1)
#df = df.assign(hemisphere=hemisphere.values)

TypeError: unsupported operand type(s) for &: 'list' and 'str'

In [68]:
# HEMISPHERE - exploratory analysis
df['Hemisphere'].value_counts()

NaN      3949
North     554
Name: Hemisphere, dtype: int64

In [67]:
df.head(10)

,Year,Date,Time,Country,Area,Location,Fatal (Y/N),Species,Injury,Type,Activity,Sex,Age,Name,Month,Hemisphere
0,2016,18-Sep-16,13h00,USA,Florida,"New Smyrna Beach, Volusia County",N,NaN,Minor injury to thigh,Unprovoked,Surfing,M,16,male,sep,NaN
1,2016,18-Sep-16,11h00,USA,Florida,"New Smyrna Beach, Volusia County",N,NaN,Lacerations to hands,Unprovoked,Surfing,M,36,Chucky Luciano,sep,NaN
2,2016,18-Sep-16,10h43,USA,Florida,"New Smyrna Beach, Volusia County",N,NaN,Lacerations to lower leg,Unprovoked,Surfing,M,43,male,sep,NaN
3,2016,17-Sep-16,NaN,AUSTRALIA,Victoria,Thirteenth Beach,N,NaN,Struck by fin on chest & leg,Unprovoked,Surfing,M,NaN,Rory Angiolella,sep,NaN
4,2016,16-Sep-16,NaN,AUSTRALIA,Victoria,Bells Beach,N,2 m shark,No injury: Knocked off board by shark,Unprovoked,Surfing,M,NaN,male,sep,NaN
5,2016,15-Sep-16,NaN,AUSTRALIA,Western Australia,Bunbury,N,NaN,Shark rammed boat. No injury to occupant,Boat,Fishing,NaN,NaN,Occupant: Ben Stratton,sep,NaN
6,2016,11-Sep-16,15h15,USA,Florida,"Ponte Vedra, St. Johns County",N,3' to 4' shark,Minor injury to arm,Unprovoked,Wading,M,60s,male,sep,NaN
7,2016,07-Sep-16,14h30,USA,Hawaii,"Makaha, Oahu",N,"Tiger shark, 10?",Severe lacerations to shoulder & forearm,Unprovoked,Swimming,F,51,female,sep,NaN
8,2016,06-Sep-16,15h40,NEW CALEDONIA,North Province,Koumac,Y,NaN,FATAL,Unprovoked,Kite surfing,M,50,David Jewell,sep,NaN
9,2016,05-Sep-16,Late afternoon,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",N,NaN,Lacerations & punctures to lower right leg,Unprovoked,Boogie boarding,F,12,Rylie Williams,sep,NaN

In [59]:
# TIME - exploratory analysis
df['Time'].value_counts()

Afternoon              136
11h00                  113
Morning                 93
14h00                   91
12h00                   91
15h00                   90
16h00                   86
14h30                   69
16h30                   67
13h00                   65
17h00                   62
17h30                   58
11h30                   57
13h30                   56
18h00                   55
15h30                   52
10h00                   45
10h30                   43
09h00                   42
Night                   37
Late afternoon          31
12h30                   31
09h30                   29
07h30                   27
08h00                   27
18h30                   25
08h30                   24
19h00                   22
07h00                   18
17h15                   17
                      ...
12h46                    1
Mid-morning              1
09h05                    1
03h45 - 04h00            1
12h34                    1
09h00 -10h00             1
00h30                    1
15h00j                   1
19h28                    1
"Just before 11h00"      1
18h15-18h30              1
19h05                    1
16h18                    1
15h05                    1
>17h30                   1
13h53                    1
06h47                    1
08h40                    1
16h55                    1
16h25                    1
17h46                    1
17h40                    1
14h37                    1
10h27                    1
09h30 / 10h00            1
15h53                    1
19h35                    1
08h55                    1
14h34                    1
11h115                   1
Name: Time, Length: 333, dtype: int64

In [55]:
# AREA - exploratory analysis
df['Area'].value_counts().head(20)

Florida                  919
New South Wales          280
California               256
Hawaii                   232
Queensland               187
KwaZulu-Natal            175
Western Cape Province    168
Western Australia        138
Eastern Cape Province    136
South Carolina           114
North Carolina            84
South Australia           81
Pernambuco                70
Texas                     55
Victoria                  53
North Island              35
Tasmania                  32
Oregon                    28
South Island              27
Abaco Islands             22
Name: Area, dtype: int64

In [56]:
# ACTIVITY - exploratory analysis
df['Activity'].value_counts().head(20)

Surfing            900
Swimming           584
Spearfishing       323
Fishing            281
Wading             129
Diving              84
Standing            77
Snorkeling          76
Scuba diving        74
Body boarding       55
Body surfing        43
Kayaking            30
Treading water      29
Boogie boarding     28
Free diving         24
Bathing             23
Windsurfing         18
Surf skiing         16
Boogie Boarding     16
Walking             14
Name: Activity, dtype: int64

In [ ]:
df.groupby('name')['activity'].value_counts()

In [57]:
# SPECIES - exploratory analysis
df['Species'].value_counts().head(20)

White shark                        147
Shark involvement not confirmed     74
Tiger shark                         52
Bull shark                          44
4' shark                            37
1.8 m [6'] shark                    33
6' shark                            33
1.5 m [5'] shark                    26
1.2 m [4'] shark                    25
3' shark                            23
4' to 5' shark                      21
No shark involvement                21
5' shark                            21
2 m shark                           20
Wobbegong shark                     20
3' to 4' shark                      18
3 m shark                           16
Blacktip shark                      15
3.7 m [12'] shark                   14
1.2 m to 1.5 m [4' to 5'] shark     14
Name: Species, dtype: int64

In [ ]:
# Data cleaning & manipulation: (2/8 methods)

In [ ]:
# Data cleaning & manipulation: (3/8 methods)

In [ ]:
# Data cleaning & manipulation: (4/8 methods)

In [ ]:
# Data cleaning & manipulation: (5/8 methods)

In [ ]:
# Data cleaning & manipulation: (6/8 methods)
Create new column

def get_season(month):
    if month >= 3 and month <= 5:
        return 'spring'
    elif month >= 6 and month <= 8:
        return 'summer'
    elif month >= 9 and month <= 11:
        return 'autumn'
    else:
        return 'winter'

months_labels = months.apply(get_season)

months_counter = Counter(months_labels)
months_keys = list(months_counter.keys())
months_values = list(months_counter.values())

In [ ]:
# Data cleaning & manipulation: (7/8 methods)
# First remove punctuation, spaces, then replace carriage return and convert to lower text:
s = re.sub(r'[^\w\s]','',poem).replace('\n', ' ').lower()
print (s)
# then split to list:
list_of_strings = s.split(" ")
print(list_of_strings)


# First remove punctuation, spaces, then replace carriage return and convert to lower text and plit:
words = re.sub(r'[^\w\s]','',poem).replace('\n', ' ').lower().split()
print(words)

# Then remove blacklist from words to get a clean list:
clean = [w for w in words if w not in blacklist]
print(clean)


# Then remove duplicated items in clean list to have unique items:
unique = set([w for w in words if w not in blacklist])
print(unique)

# Here we can compare the length of all and see how we have cleaned the data along the process
print('poem len was',len(poem),' VS then words list len was',len(words),' VS clean list len was',len(clean),' VS unique len is now',len(unique))

pattern =r"\w*\d+"
filtered_data = []
for i in data:
    if re.search(pattern,i):
        temp = re.search(pattern,i)
        print(temp)
        filtered_data.append(i)
    else:
        print(i,'NOT MATCH')
print (filtered_data)

In [ ]:
# Data cleaning & manipulation: (8/8 methods)
# Last step: removing duplicated

In [ ]:
# Exploratory analysis - with cleaned Data

In [ ]:
# Exporting clean data in CSV using Pandas

README.md file containing a detailed explanation of the process followed in the importing, cleaning, manipulation, 
and exporting of your data as well as your results, obstacles encountered, and lessons learned

In [ ]:
wordcloud:
df = pd.read_csv('../input/attacks.csv', encoding = "ISO-8859-1")
wordcloud = WordCloud(background_color="white")
wordcloud.generate(' '.join(df.Activity.dropna().values))
plt.figure(figsize=(15,10))
plt.imshow(wordcloud)
plt.axis("off")
plt.show()