# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# checking missing data
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# counting function:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
total_per_depa = pd.DataFrame(salaries.groupby(['Department'])['Salary or Hourly'].count())
total_per_depa = total_per_depa.sort_values(by=['Salary or Hourly'], ascending = False)
display(total_per_depa)

                       Salary or Hourly
Department
POLICE                            13414
FIRE                               4641
STREETS & SAN                      2198
OEMC                               2102
WATER MGMNT                        1879
AVIATION                           1629
TRANSPORTN                         1140
PUBLIC LIBRARY                     1015
GENERAL SERVICES                    980
FAMILY & SUPPORT                    615
FINANCE                             560
HEALTH                              488
CITY COUNCIL                        411
LAW                                 407
BUILDINGS                           269
COMMUNITY DEVELOPMENT               207
BUSINESS AFFAIRS                    171
COPA                                116
BOARD OF ELECTION                   107
DoIT                                 99
PROCUREMENT                          92
INSPECTOR GEN                        87
MAYOR'S OFFICE                       85
CITY CLERK                           84
ANIMAL CONTRL                        81
HUMAN RESOURCES                      79
CULTURAL AFFAIRS                     65
BUDGET & MGMT                        46
ADMIN HEARNG                         39
DISABILITIES                         28
TREASURER                            22
HUMAN RELATIONS                      16
BOARD OF ETHICS                       8
POLICE BOARD                          2
LICENSE APPL COMM                     1

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [61]:
# 1-sample t-test: testing the value of a population mean
# scipy.stats.ttest_1samp(a, popmean, axis=0)
pop_hourly = salaries['Hourly Rate'].dropna()
mean_hypotesis = 30
hypotesis_test = stats.ttest_1samp(pop_hourly, mean_hypotesis)
print('hypotesis test result:',hypotesis_test)

hypotesis test result: Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [62]:
# 1-sample t-test: interpreting the result of the test hypotesis
# null hypotesis: mean of random sample is equal to true mean 
# If p-value > alpha, then we cannot reject the null hypothesis of identical average scores 
# If p-value < alpha then we reject the null hypothesis of equal averages 
alpha = 0.05
if hypotesis_test.pvalue < alpha:
    print("Null hypotesis rejected: the hourly wage of all hourly workers SIGNIFICANTLY DIFFERENT from $30/hr")
else:
    print("Can not reject Null hypotesis: the hourly wage of all hourly workers SIMILAR THAN $30/hr")

Null hypotesis rejected: the hourly wage of all hourly workers SIGNIFICANTLY DIFFERENT from $30/hr

In [63]:
# checking the mean 
print('hourly wage of all hourly workers is',round(np.mean(pop_hourly)))

hourly wage of all hourly workers is 33.0

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [64]:
# defining population, mean of hypotesis and running hypotesis test
pop_police = salaries.loc[salaries.Department=='POLICE']['Annual Salary'].dropna()
mean_hypotesis = 86000
hypotesis_test = stats.ttest_1samp(pop_police, mean_hypotesis)
print('hypotesis test result:',hypotesis_test)

hypotesis test result: Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

In [65]:
# interpreting the result of the test hypotesis - one tailed pvalue test 
alpha = 0.05
if hypotesis_test.pvalue < alpha:
    print("Null hypotesis rejected: this year police salaries SIGNIFICANTLY HIGHER than last year's mean of $86000 for all salaried employees")
else:
    print("Can not reject Null hypotesis: this year police salaries SIMILAR THAN than last year's mean of $86000 for all salaried employees")

Null hypotesis rejected: this year police salaries SIGNIFICANTLY HIGHER than last year's mean of $86000 for all salaried employees

In [69]:
# checking the mean 
print('police salaries average is',round(np.mean(pop_police)))

police salaries average is 86486.0

In [66]:
# interpreting the result of the test hypotesis - 2 tailed pvalue test 
alpha = 0.025
if hypotesis_test.pvalue < alpha:
    print("Null hypotesis rejected: this year police salaries SIGNIFICANTLY HIGHER than last year's mean of $86000 for all salaried employees")
else:
    print("Can not reject Null hypotesis: this year police salaries SIMILAR THAN than last year's mean of $86000 for all salaried employees")

Null hypotesis rejected: this year police salaries SIGNIFICANTLY HIGHER than last year's mean of $86000 for all salaried employees

Using the `crosstab` function, find the department that has the most hourly workers.

In [14]:
# crossing department with hourly workers:
workers_per_depa = pd.crosstab(salaries.Department, salaries['Salary or Hourly'])
workers_per_depa.sort_values(by=['Hourly'], ascending = False)

Salary or Hourly       Hourly  Salary
Department
STREETS & SAN            1862     336
WATER MGMNT              1513     366
OEMC                     1273     829
AVIATION                 1082     547
GENERAL SERVICES          765     215
TRANSPORTN                725     415
PUBLIC LIBRARY            299     716
FAMILY & SUPPORT          287     328
CITY COUNCIL               64     347
FINANCE                    44     516
LAW                        40     367
ANIMAL CONTRL              19      62
POLICE                     10   13404
MAYOR'S OFFICE              8      77
BUSINESS AFFAIRS            7     164
CULTURAL AFFAIRS            7      58
COMMUNITY DEVELOPMENT       4     203
HUMAN RESOURCES             4      75
HEALTH                      3     485
PROCUREMENT                 2      90
FIRE                        2    4639
BUDGET & MGMT               2      44
HUMAN RELATIONS             0      16
INSPECTOR GEN               0      87
DoIT                        0      99
LICENSE APPL COMM           0       1
DISABILITIES                0      28
COPA                        0     116
CITY CLERK                  0      84
POLICE BOARD                0       2
BUILDINGS                   0     269
BOARD OF ETHICS             0       8
BOARD OF ELECTION           0     107
TREASURER                   0      22
ADMIN HEARNG                0      39

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [15]:
# defining population, mean of hypotesis and running hypotesis test
# the most hourly workers department is STREETS & SAN
pop_ss = salaries.loc[salaries.Department=='STREETS & SAN']['Hourly Rate'].dropna()
mean_hypotesis = 35
hypotesis_test = stats.ttest_1samp(pop_ss, mean_hypotesis)
print('hypotesis test result:',hypotesis_test)

hypotesis test result: Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

In [67]:
# interpreting the result of the test hypotesis - one sided pvalue test --> 2 tailed
alpha = 0.025
if hypotesis_test.pvalue < alpha:
    print("Null hypotesis rejected:STREETS & SAN hourly wage SIGNIFICANTLY LESS than $35/hour")
else:
    print("Can not reject Null hypotesis:STREETS & SAN hourly wage SIMILAR THAN $35/hour")

Null hypotesis rejected:STREETS & SAN hourly wage SIGNIFICANTLY LESS than $35/hour

In [68]:
# checking the mean 
print('STREETS & SAN hourly wage is',round(np.mean(pop_ss)))

STREETS & SAN hourly wage is 34.0

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [18]:
# alternative 1
sample = salaries['Hourly Rate'].dropna()
sample_size = len(sample)
sample_mean = np.mean(sample)
standard_error  = np.std(sample, ddof=0) /np.sqrt(sample_size)

stats.t.interval(alpha = 0.95,              # Confidence level
                 df= sample_size - 1,       # Degrees of freedom (n-1)
                 loc = sample_mean,         # Sample mean
                 scale = standard_error)    # Standard deviation estimate with NumPy

(32.52347486867093, 33.053640563889545)

In [19]:
# alternative 2
sample = salaries['Hourly Rate'].dropna()
sample_size = len(sample)
sample_mean = np.mean(sample)
standard_error = stats.sem(sample, axis=None, ddof=0)

stats.t.interval(alpha = 0.95,              # Confidence level
                 df= sample_size - 1,       # Degrees of freedom (n-1)
                 loc = sample_mean,         # Sample mean
                 scale = standard_error)    # Standard error estimate with SciPy Stats sem

(32.52347486867093, 33.053640563889545)

In [28]:
''' OBSERVATION: 
The standard deviation (SD) measures the amount of variability, or dispersion,
for a subject set of data from the mean, 
WHILE the standard error of the mean (SEM) measures how far the sample mean of the data 
is likely to be from the true population mean. 
The SEM is always smaller than the SD.
'''
pass

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [21]:
# same for the police - with stem standard error:
pop_police = salaries.loc[salaries.Department=='POLICE']['Annual Salary'].dropna()
sample = pop_police
sample_size = len(sample)
sample_mean = np.mean(sample)
sigma = stats.sem(sample, axis=None, ddof=0)

stats.t.interval(alpha = 0.95,              # Confidence level
                 df= sample_size - 1,       # Degrees of freedom (n-1)
                 loc = sample_mean,         # Sample mean
                 scale = sigma)             # Standard error estimate with SciPy Stats sem

(86177.06785530433, 86795.76115096245)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
'''
nobs = total number of trials, i.e. the number of rows in your list.
count = number of successful trials, i.e. the number of Yes events in your list.
value = proportion to test against, i.e. 0.25 based on your question text.
The null hypothesis here is that the single sample given by these values was drawn 
from a distribution with proportion equal to the specified value.
'''
pass

In [59]:
# setting group and sample to compare:
count = len(salaries['Hourly Rate'].dropna())
nobs = salaries.shape[0]
stat, pval = proportions_ztest(count, nobs,0.25)
print('Proportions z test results are stat:',round(stat,2),' and pval:',round(pval,4))

Proportions z test results are stat: -3.51  and pval: 0.0004

In [70]:
# proportions_ztest: interpreting the result of the test hypotesis
alpha = 0.05
if pval < alpha:
    print("Null hypotesis rejected: the number of hourly workers in Chicago SIGNIFICANTLY DIFFERENT from 25% at the 95% confidence level")
else:
    print("Can not reject Null hypotesis: the number of hourly workers in Chicago SIMILAR THAN from 25% at the 95% confidence level")

Null hypotesis rejected: the number of hourly workers in Chicago SIGNIFICANTLY DIFFERENT from 25% at the 95% confidence level