## 1. IMPORTING PYTHON LIBRARIES

In [1]:
# to work with data: dataframes, statistics & regular expressions
import pandas as pd
import numpy as np
import re
import pandas_profiling as pdp # suggested by Dani in Slack

# for data viz
%matplotlib inline
import matplotlib 
import matplotlib.pyplot as plt
import seaborn as sns

## 2. DATA WRANGLING

In [2]:
def importing_csv(csv_path):
    df = pd.read_csv(csv_path)
    return df

def raw(df):
    print('shape:',df.shape)
    print('\n columns:',df.shape)
    print('\n variables info:')    
    return df.info(),df.describe()

def valcount(df, var):
    return df[var].value_counts()

def split_datetime(df,datetime):
    year,month,date,time = str(datetime+'_year'),str(datetime+'_month'),str(datetime+'_date'),str(datetime+'_time')
    df[year] = pd.to_datetime(df[datetime]).dt.year
    df[month] = pd.to_datetime(df[datetime]).dt.month
    df[date] = pd.to_datetime(df[datetime]).dt.date
    df[time] = pd.to_datetime(df[datetime]).dt.time
    return df[[datetime,year,month,date,time]]

def second_to_min(df,second):
    minutes = str(second+'_min')
    df[minutes]=df[second]/60
    return df[minutes,second]

def centavos_a_pesos(df,centavos):
    pesos = str(centavos+'_pesos')
    df[pesos] = df[centavos]/100
    return df[pesos,centavos]

In [3]:
csv_path = './db/tableau_project.csv'
data = importing_csv(csv_path)

In [4]:
raw(data)

shape: (3864, 22)

 columns: (3864, 22)

 variables info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3864 entries, 0 to 3863
Data columns (total 22 columns):
Unnamed: 0             3864 non-null int64
journey_id             3864 non-null object
vehicle_type_id        3864 non-null object
start_type             3864 non-null object
start_at               3864 non-null object
start_lat              3864 non-null float64
start_lon              3864 non-null float64
end_at                 3864 non-null object
end_lat                3807 non-null float64
end_lon                3807 non-null float64
end_state              3864 non-null object
price                  3844 non-null object
price_distance         2812 non-null object
price_duration         2812 non-null object
distance               3844 non-null object
duration               3844 non-null object
source                 3864 non-null object
rider_waiting_time     2733 non-null object
driver_waiting_time    2685 non-null object
price_supplements      3864 non-null object
discount               3844 non-null object
rating                 3864 non-null float64
dtypes: float64(5), int64(1), object(16)
memory usage: 664.2+ KB

(None,
         Unnamed: 0    start_lat    start_lon      end_lat      end_lon  \
 count  3864.000000  3864.000000  3864.000000  3807.000000  3807.000000
 mean   1931.500000    19.412159   -99.195443    19.410835   -99.197221
 std    1115.585048     0.028146     0.040832     0.030001     0.044896
 min       0.000000    19.290513   -99.288274    19.196463   -99.655665
 25%     965.750000    19.405320   -99.207814    19.379486   -99.253980
 50%    1931.500000    19.422749   -99.175834    19.422749   -99.178435
 75%    2897.250000    19.426613   -99.170483    19.429759   -99.171955
 max    3863.000000    19.513544   -99.051114    19.517451   -99.048817

             rating
 count  3864.000000
 mean      8.289596
 std       1.265744
 min       4.000000
 25%       8.000000
 50%       9.000000
 75%       9.000000
 max      10.000000  )

In [5]:
data.isna().sum()

Unnamed: 0                0
journey_id                0
vehicle_type_id           0
start_type                0
start_at                  0
start_lat                 0
start_lon                 0
end_at                    0
end_lat                  57
end_lon                  57
end_state                 0
price                    20
price_distance         1052
price_duration         1052
distance                 20
duration                 20
source                    0
rider_waiting_time     1131
driver_waiting_time    1179
price_supplements         0
discount                 20
rating                    0
dtype: int64

In [6]:
data.nunique()

Unnamed: 0             3864
journey_id             3864
vehicle_type_id           2
start_type                2
start_at               3861
start_lat              1403
start_lon              1356
end_at                 3864
end_lat                 498
end_lon                 493
end_state                 5
price                  1417
price_distance         2171
price_duration          585
distance               2237
duration               1606
source                    3
rider_waiting_time     1076
driver_waiting_time     628
price_supplements        32
discount                  3
rating                    6
dtype: int64

In [11]:
pdp.ProfileReport(data)

In [12]:
data.columns

Index(['Unnamed: 0', 'journey_id', 'vehicle_type_id', 'start_type', 'start_at',
       'start_lat', 'start_lon', 'end_at', 'end_lat', 'end_lon', 'end_state',
       'price', 'price_distance', 'price_duration', 'distance', 'duration',
       'source', 'rider_waiting_time', 'driver_waiting_time',
       'price_supplements', 'discount', 'rating'],
      dtype='object')

In [ ]:
valcount(data, 'vehicle_type_id')

In [26]:
data.loc[data.vehicle_type_id == '21620ea5749f2e0679a8c72c7fbafb9e', 'vehicle_type_id'] = 'A'
data.loc[data.vehicle_type_id == '077866c3fd1a75f51ca7f8eae166ae32', 'vehicle_type_id'] = 'B'
valcount(data, 'vehicle_type_id')

A    3642
B     222
Name: vehicle_type_id, dtype: int64

In [28]:
valcount(data, 'start_type')

asap        3615
reserved     249
Name: start_type, dtype: int64

In [29]:
valcount(data, 'start_type')

asap        3615
reserved     249
Name: start_type, dtype: int64

In [ ]:
valcount(data, 'vehicle_type_id')

In [33]:
data.dtypes

Unnamed: 0               int64
journey_id              object
vehicle_type_id         object
start_type              object
start_at                object
start_lat              float64
start_lon              float64
end_at                  object
end_lat                float64
end_lon                float64
end_state               object
price                   object
price_distance          object
price_duration          object
distance                object
duration                object
source                  object
rider_waiting_time      object
driver_waiting_time     object
price_supplements       object
discount                object
rating                 float64
dtype: object

In [5]:
data = data.drop(columns="Unnamed: 0")

In [6]:
data[['distance','driver_waiting_time','rider_waiting_time', 'price','price_duration' , 'price_distance', 'price_supplements']].apply(lambda x: x.fillna(0))

,distance,driver_waiting_time,rider_waiting_time,price,price_duration,price_distance,price_supplements
0,"7,943",48,590,"5,866",0,"5,204",662
1,0,0,0,0,0,0,0
2,"3,054",4,923,"4,000",0,"3,552",0
3,0,0,0,0,0,0,0
4,"2,859",36,329,"4,000",12,"2,974",0
5,"3,176",369,73,"4,000",290,"3,346",0
6,0,0,0,0,0,0,0
7,"3,008",799,770,"6,449","2,082","4,367",0
8,0,0,0,0,0,0,0
9,"3,034","1,039","1,655","8,063",0,"4,063",0
10,0,0,0,0,0,0,0
11,"5,083",6,729,"6,924",0,"6,924",0
12,"2,766",97,633,"4,000",0,"3,766",0
13,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0
15,"8,254",158,589,"9,404",125,"9,279",0
16,0,0,0,0,0,0,0
17,"5,600",11,477,"5,299",0,"5,299",0
18,"3,187",180,576,"4,000",0,"2,912",0
19,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0
21,"3,073",10,873,"4,000",0,"3,179",0
22,"2,923",262,205,"4,000",0,"3,108",0
23,"2,516",7,856,"4,000",0,"3,643",0
24,"4,849",194,"1,011","6,582",0,"6,582",0
25,0,0,0,0,0,0,0
26,"2,714",6,163,"4,000",0,"3,644",0
27,"3,895",622,648,"5,438","1,346","4,092",0
28,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...
3834,0,0,0,0,0,0,0
3835,"3,769",4,263,"4,000",0,"3,778",0
3836,0,0,0,0,0,0,0
3837,0,0,0,0,0,0,0
3838,0,0,0,0,0,0,0
3839,"15,001",5,498,"17,800",0,"17,800",0
3840,"14,854",101,524,"17,503",0,"16,026","1,477"
3841,"29,868",455,676,"29,387",649,"24,138","4,600"
3842,"14,602",169,142,"10,852",0,"10,852",0
3843,0,0,0,0,0,0,0
3844,"2,593",20,326,"4,000",0,"3,128",0
3845,0,0,0,0,0,0,0
3846,0,0,0,0,0,0,0
3847,"17,033",82,503,"18,610",0,"18,610",0
3848,"1,809",656,456,"4,000","1,487","2,246",0
3849,"3,025",54,132,"4,421",0,"4,421",0
3850,"1,583",305,243,"4,000",24,"2,071",0
3851,"1,622",836,311,"4,281","2,236","2,045",0
3852,"4,260",1,285,"7,544",356,"7,188",0
3853,"15,204",549,69,"17,681","1,038","16,643",0
3854,"3,541",51,473,"4,512",0,"4,512",0
3855,0,0,0,0,0,0,0
3856,"14,041",69,394,"11,052",0,"11,052",0
3857,"40,514",46,499,"29,892",179,"27,294","2,419"
3858,"14,056",45,495,"11,031",0,"11,031",0
3859,"3,204",125,650,"4,134",0,"4,134",0
3860,"4,417",6,330,"5,752",0,"5,752",0
3861,0,0,669,"4,000",0,0,0
3862,5,0,423,"4,000",0,0,0
3863,0,0,0,"4,000",0,0,0

In [ ]:
# convert to object format: 'vehicle_type_id', 'start_type', 'source','end_state'
# convert to geoespatial (num.num): 'start_lat', 'start_lon', ' 'end_lat', 'end_lon', 
# convert to float: 'price', 'price_distance', 'price_duration', 'distance', 'duration', 'price_supplements', 'discount', 'rating', rider_waiting_time', 'driver_waiting_time',

In [7]:
float_var = ['price','price_distance','price_duration','distance','duration','price_supplements','discount','rating','rider_waiting_time','driver_waiting_time']
for var in float_var:
    data_num.apply(lambda x: str(x.replace(',','.'))).astype('float')
    data[var]=data[var].astype(str).astype(float)
#float_var.apply(lambda col: col.astype(str).astype(int))

ValueError: could not convert string to float: '5,866'

In [133]:
data_num = data[['price','price_distance','price_duration','distance','duration','price_supplements','discount','rating','rider_waiting_time','driver_waiting_time']]
data_num.apply(lambda x: str(x.replace(',','.'))).astype('float')
pd.to_numeric(data_num)
data_num.head()

ValueError: could not convert string to float: '0        5,866\n1            0\n2        4,000\n3            0\n4        4,000\n5        4,000\n6            0\n7        6,449\n8            0\n9        8,063\n10           0\n11       6,924\n12       4,000\n13           0\n14           0\n15       9,404\n16           0\n17       5,299\n18       4,000\n19           0\n20           0\n21       4,000\n22       4,000\n23       4,000\n24       6,582\n25           0\n26       4,000\n27       5,438\n28           0\n29           0\n         ...  \n3834         0\n3835     4,000\n3836         0\n3837         0\n3838         0\n3839    17,800\n3840    17,503\n3841    29,387\n3842    10,852\n3843         0\n3844     4,000\n3845         0\n3846         0\n3847    18,610\n3848     4,000\n3849     4,421\n3850     4,000\n3851     4,281\n3852     7,544\n3853    17,681\n3854     4,512\n3855         0\n3856    11,052\n3857    29,892\n3858    11,031\n3859     4,134\n3860     5,752\n3861     4,000\n3862     4,000\n3863     4,000\nName: price, Length: 3864, dtype: object'

In [48]:
data[['start_type']].apply(lambda x: x.astype('category'))

     start_type
0          asap
1          asap
2          asap
3          asap
4          asap
5          asap
6          asap
7          asap
8          asap
9      reserved
10         asap
11         asap
12         asap
13         asap
14         asap
15         asap
16         asap
17         asap
18         asap
19         asap
20         asap
21         asap
22         asap
23         asap
24         asap
25         asap
26         asap
27         asap
28         asap
29         asap
...         ...
3834       asap
3835       asap
3836       asap
3837       asap
3838       asap
3839       asap
3840       asap
3841       asap
3842       asap
3843       asap
3844       asap
3845       asap
3846       asap
3847       asap
3848       asap
3849       asap
3850       asap
3851       asap
3852       asap
3853       asap
3854       asap
3855       asap
3856       asap
3857       asap
3858       asap
3859       asap
3860       asap
3861       asap
3862       asap
3863       asap

[3864 rows x 1 columns]

In [106]:
# we convert currency format: from centavos to pesos
centavos_a_pesos(data,'price')
centavos_a_pesos(data,'price_duration')
centavos_a_pesos(data,'price_distance')
centavos_a_pesos(data,'price_supplements')

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [107]:
second_to_min(data,'distance')
second_to_min(data,'driver_waiting_time')
second_to_min(data,'rider_waiting_time')

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
split_datetime(data, 'start_at')

In [69]:
split_datetime(data, 'end_at')

                   end_at  end_at_year  end_at_month end_at_date end_at_time
0     2017-12-16 11:37:32         2017            12  2017-12-16    11:37:32
1     2017-12-16 11:07:21         2017            12  2017-12-16    11:07:21
2     2017-11-24 23:27:05         2017            11  2017-11-24    23:27:05
3     2017-12-16 09:17:30         2017            12  2017-12-16    09:17:30
4     2017-11-24 18:31:31         2017            11  2017-11-24    18:31:31
5     2017-11-24 15:53:30         2017            11  2017-11-24    15:53:30
6     2017-11-24 15:10:42         2017            11  2017-11-24    15:10:42
7     2017-11-24 15:47:42         2017            11  2017-11-24    15:47:42
8     2017-11-24 14:32:56         2017            11  2017-11-24    14:32:56
9     2017-11-24 14:36:44         2017            11  2017-11-24    14:36:44
10    2017-11-30 23:03:50         2017            11  2017-11-30    23:03:50
11    2017-11-30 23:35:45         2017            11  2017-11-30    23:35:45
12    2017-11-30 04:02:56         2017            11  2017-11-30    04:02:56
13    2017-11-30 03:02:23         2017            11  2017-11-30    03:02:23
14    2017-11-30 03:01:57         2017            11  2017-11-30    03:01:57
15    2017-11-30 02:14:25         2017            11  2017-11-30    02:14:25
16    2017-12-16 02:43:04         2017            12  2017-12-16    02:43:04
17    2017-12-16 02:51:58         2017            12  2017-12-16    02:51:58
18    2017-11-24 04:52:20         2017            11  2017-11-24    04:52:20
19    2017-11-24 04:26:09         2017            11  2017-11-24    04:26:09
20    2017-11-24 04:15:25         2017            11  2017-11-24    04:15:25
21    2017-11-30 19:39:23         2017            11  2017-11-30    19:39:23
22    2017-11-30 19:29:52         2017            11  2017-11-30    19:29:52
23    2017-11-30 17:08:04         2017            11  2017-11-30    17:08:04
24    2017-11-24 02:57:54         2017            11  2017-11-24    02:57:54
25    2017-11-24 02:12:16         2017            11  2017-11-24    02:12:16
26    2017-11-30 16:34:40         2017            11  2017-11-30    16:34:40
27    2017-11-30 16:03:54         2017            11  2017-11-30    16:03:54
28    2017-11-30 15:06:56         2017            11  2017-11-30    15:06:56
29    2017-11-24 00:39:54         2017            11  2017-11-24    00:39:54
...                   ...          ...           ...         ...         ...
3834  2017-04-07 19:55:23         2017             4  2017-04-07    19:55:23
3835  2017-04-07 17:57:33         2017             4  2017-04-07    17:57:33
3836  2017-04-07 20:37:26         2017             4  2017-04-07    20:37:26
3837  2017-04-07 20:42:08         2017             4  2017-04-07    20:42:08
3838  2017-04-08 00:27:47         2017             4  2017-04-08    00:27:47
3839  2017-04-07 23:37:27         2017             4  2017-04-07    23:37:27
3840  2017-04-08 01:36:04         2017             4  2017-04-08    01:36:04
3841  2017-04-08 01:48:47         2017             4  2017-04-08    01:48:47
3842  2017-04-08 06:53:54         2017             4  2017-04-08    06:53:54
3843  2017-04-08 18:40:44         2017             4  2017-04-08    18:40:44
3844  2017-04-08 17:29:20         2017             4  2017-04-08    17:29:20
3845  2017-04-10 05:04:47         2017             4  2017-04-10    05:04:47
3846  2017-04-10 12:42:33         2017             4  2017-04-10    12:42:33
3847  2017-04-10 13:35:44         2017             4  2017-04-10    13:35:44
3848  2017-04-10 13:07:27         2017             4  2017-04-10    13:07:27
3849  2017-04-10 13:37:01         2017             4  2017-04-10    13:37:01
3850  2017-04-10 19:08:08         2017             4  2017-04-10    19:08:08
3851  2017-04-10 21:15:01         2017             4  2017-04-10    21:15:01
3852  2017-04-11 00:43:13         2017             4  2017-04-11    00:43:13
3853  2017-04-11 13:50:54         2017             4  2017-04-11    13:50:54
3854  2017-04-11 15:03:51         2017             4  2017-04-11    15:03:51
3855  2017-04-11 18:06:55         2017             4  2017-04-11    18:06:55
3856  2017-04-23 17:14:27         2017             4  2017-04-23    17:14:27
3857  2017-05-02 17:20:42         2017             5  2017-05-02    17:20:42
3858  2017-04-23 17:22:23         2017             4  2017-04-23    17:22:23
3859  2017-04-17 02:52:03         2017             4  2017-04-17    02:52:03
3860  2017-04-17 00:23:32         2017             4  2017-04-17    00:23:32
3861  2017-04-17 02:12:07         2017             4  2017-04-17    02:12:07
3862  2017-04-16 23:53:33         2017             4  2017-04-16    23:53:33
3863  2017-04-17 02:24:35         2017             4  2017-04-17    02:24:35

[3864 rows x 5 columns]

### Data wrangling decisions:

* **relevant KPIs without missing values:** 
- duration --> second to minutes format
- price --> float format
- start_type --> object format
- vehicle_type_id --> 2 types --> rename with 'A'/'B'
- start_lon & start_lat --> numeric format
- start_at & end_at --> from categorical to datetime format 
- source
- rating
- end_state
* **relevant KPIs with missing values:** 
- distance: replace with '0'
- driver_waiting_time & rider_waiting_time: replace with '0' --> from categorical to time format
- end_lat & end_long: keep NaN --> can be canceled or rider not found
- price_duration & price_distance & price supplements: replace with '0'
- discount: drop var --> only 2 values
* ** NON relevant KPIs without missing values:** 'journey_id'